generated_product_xsds/bigdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/bigdata"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/bigdata">
   <element name="product" type="p:BigDataType"/>
   <complexType name="BigDataType">
      <annotation>
         <documentation>
            <html:p>Usage message for a big data cluster.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="BigData"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="flavorId" use="required" type="p:string1_50">
         <annotation>
            <documentation>
               <html:p>The flavor id of the cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="flavorName" use="required" type="p:string1_300">
         <annotation>
            <documentation>
               <html:p>The flavor name of the cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numberServersInCluster"
                 use="required"
                 type="p:numberServersInClusterType">
         <annotation>
            <documentation>
               <html:p>This is the number of data nodes in cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="aggregatedClusterDuration"
                 use="optional"
                 type="xsd:unsignedLong">
         <annotation>
            <documentation>
               <html:p>This is the sum of the durations in seconds of all nodes of the cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="S" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthIn" use="required" type="p:bandwidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOut" use="required" type="p:bandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="not(@aggregatedClusterDuration) then false() else true()"
              xerces:message="The aggregatedClusterDuration is a synthesized attribute. It can not be included in the original event."
              saxon:message="The aggregatedClusterDuration is a synthesized attribute. It can not be included in the original event.">
         <annotation>
            <documentation>
               <html:p>Assertion: The aggregatedClusterDuration is a synthesized attribute. It can not be included in the original event.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HADOOP_HDP1_1"/>
         <enumeration value="HADOOP_HDP1_3"/>
         <enumeration value="HBASE_HDP1_1"/>
         <enumeration value="HBASE_HDP1_3"/>
      </restriction>
   </simpleType>
   <simpleType name="numberServersInClusterType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="1"/>
         <maxInclusive value="3000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="16000000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="16000000000"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_50">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_300">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="300"/>
      </restriction>
   </simpleType>
</xsd:schema>
