generated_product_xsds/bigdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/shin4590/AHsrc/forks/standard-usage-schemas/sample_product_schemas/bigdata.xml
    GENERATED ON: 2013-04-08T15:55:02.792-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/bigdata"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/bigdata">
   <element name="product" type="p:BigDataType"/>
   <complexType name="BigDataType">
      <annotation>
         <documentation>
            <html:p>Usage message for a slice.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="BigData"/>
      <attribute name="flavor" use="required" type="p:flavorType">
         <annotation>
            <documentation>
               <html:p>The flavor id of the cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="numberServersInCluster"
                 use="required"
                 type="p:numberServersInClusterType">
         <annotation>
            <documentation>
               <html:p>This is the number of servers in cluster.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthIn" use="required" type="p:bandwidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="KB"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOut" use="required" type="p:bandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM"
                                 unitOfMeasure="KB"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HDP1.1"/>
         <enumeration value="HDP1.3"/>
         <enumeration value="HBASE_HDP1.1"/>
         <enumeration value="HBASE_HDP1.3"/>
      </restriction>
   </simpleType>
   <simpleType name="flavorType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="numberServersInClusterType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="3000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="16000000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="16000000000"/>
      </restriction>
   </simpleType>
</xsd:schema>
