generated_product_xsds/cbs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/cbs.xml
    GENERATED ON: 2012-06-06T17:43:22.094-05:00
-->
<schema xmlns:html="http://www.w3.org/1999/xhtml"
        xmlns:usage="http://docs.rackspace.com/core/usage"
        xmlns:saxon="http://saxon.sf.net/"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xerces="http://xerces.apache.org"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://docs.rackspace.com/usage/cbs"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://docs.rackspace.com/usage/cbs">
   <element name="product" type="p:CloudBlockStorageType"/>
   <complexType name="CloudBlockStorageType">
      <annotation>
         <documentation>
            <html:p>CBS specific usage fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="CloudBlockStorage"/>
      <attribute name="type" use="required" type="p:typeEnum">
         <annotation>
            <documentation>
               <html:p>Describes the type of volume used. HIGH is high performance based on SSD. STANDARD in based on SATA.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="provisioned" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The amount of storage provisioned for the volume.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="GB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="snapshot" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The amount of backup (snapshot) storage used for the volume.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="GB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="VOLUME"/>
      </restriction>
   </simpleType>
   <simpleType name="typeEnum">
      <restriction base="xsd:string">
         <enumeration value="HIGH"/>
         <enumeration value="STANDARD"/>
      </restriction>
   </simpleType>
</schema>