generated_product_xsds/cloudQueuesBandwidth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/queues/bandwidth"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/queues/bandwidth">
   <element name="product" type="p:CloudQueuesType"/>
   <complexType name="CloudQueuesType">
      <annotation>
         <documentation>
            <html:p>Usage message for queue bandwidth.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudQueues"/>
      <attribute name="bandwidthInPublic"
                 use="required"
                 type="p:bandwidthInPublicType">
         <annotation>
            <documentation>
               <html:p>The amount of public bandwidth in, in bytes. Max is 6TB.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthInServiceNet"
                 use="required"
                 type="p:bandwidthInServiceNetType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in on Service Net, in bytes. Max is 6TB.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="B" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOutPublic"
                 use="required"
                 type="p:bandwidthOutPublicType">
         <annotation>
            <documentation>
               <html:p>The amount of public bandwidth out, in bytes. Max is 6TB.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="B" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOutServiceNet"
                 use="required"
                 type="p:bandwidthOutServiceNetType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out on Service Net, in bytes. Max is 6TB.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="B" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="bandwidthInPublicType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6597069766656"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInServiceNetType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6597069766656"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutPublicType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6597069766656"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutServiceNetType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6597069766656"/>
      </restriction>
   </simpleType>
</xsd:schema>
