generated_product_xsds/cloudQueues.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/queues"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/queues">
   <element name="product" type="p:CloudQueuesType"/>
   <complexType name="CloudQueuesType">
      <annotation>
         <documentation>
            <html:p>Usage message for queue request count.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudQueues"/>
      <attribute name="requestCount" use="required" type="p:requestCountType">
         <annotation>
            <documentation>
               <html:p>The number of requests. Max is 300,000.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="COUNT" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="requestCountType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="300000"/>
      </restriction>
   </simpleType>
</xsd:schema>
