generated_product_xsds/dbaas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/dbaas.xml
    GENERATED ON: 2012-06-05T10:22:43.092-05:00
-->
<schema xmlns:html="http://www.w3.org/1999/xhtml"
        xmlns:usage="http://docs.rackspace.com/core/usage"
        xmlns:saxon="http://saxon.sf.net/"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xerces="http://xerces.apache.org"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://docs.rackspace.com/usage/dbaas"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://docs.rackspace.com/usage/dbaas">
   <element name="product" type="p:CloudDatabaseType"/>
   <complexType name="CloudDatabaseType">
      <annotation>
         <documentation>
            <html:p>Dbaas specific user fields.</html:p>
         </documentation>
         <appinfo>
            <usage:core/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="CloudDatabase"/>
      <attribute name="memory" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The amount of memory for the current usage.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="MB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="storage" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The size of the storage volume for the current usage.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes unitOfMeasure="GB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="MYSQL"/>
      </restriction>
   </simpleType>
</schema>