generated_product_xsds/dedicatedvcloud-serverlicenseandsupport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/dedicatedvcloud/serverlicenseandsupport"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/dedicatedvcloud/serverlicenseandsupport">
   <element name="product" type="p:DedicatedVCloudType"/>
   <complexType name="DedicatedVCloudType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Dedicated vCloud server license and support.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="HYBRID_TO_CORE_RAN"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="DedicatedVCloud"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="vCPUCount" use="required" type="p:vCPUCountType">
         <annotation>
            <documentation>
               <html:p>The number of vCPUs.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vRAM" use="required" type="p:vRAMType">
         <annotation>
            <documentation>
               <html:p>Memory provisioned for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="MB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="powerStatus" use="required" type="p:powerStatusEnum">
         <annotation>
            <documentation>
               <html:p>The power status of the device. Usage events will not be sent for servers with a powerStatus of OFF.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="coreStatus" use="required" type="p:coreStatusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the device in CORE system. Usage events will not be sent for servers with a coreStatus not in this list of allowedValues.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationLicense"
                 use="optional"
                 type="p:applicationLicenseEnum">
         <annotation>
            <documentation>
               <html:p>An application license on this server. If a server has multiple app licenses on a server, multiple usage events will be sent for those licenses.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="support" use="optional" type="p:supportEnum">
         <annotation>
            <documentation>
               <html:p>A guest operating system or an application that is supported on this virtual machine. If a virtual machine has more than one item in the set of software items supported, then the product must produce separate usage events for each supported software item (i.e. one event per item). For example, a virtual machine with a supported operating system and also a supported MySQL database would send two usage events: one for the operating system support, and another for the MySQL application support.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if (@applicationLicense) then not(@support) else true()"
              xerces:message="If 'applicationLicense' attribute is specified, then 'support' attribute should not be specified."
              saxon:message="If 'applicationLicense' attribute is specified, then 'support' attribute should not be specified.">
         <annotation>
            <documentation>
               <html:p>Assertion: If 'applicationLicense' attribute is specified, then 'support' attribute should not be specified.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (@support) then not(@applicationLicense) else true()"
              xerces:message="If 'support' attribute is specified, then 'applicationLicense' attribute should not be specified."
              saxon:message="If 'support' attribute is specified, then 'applicationLicense' attribute should not be specified.">
         <annotation>
            <documentation>
               <html:p>Assertion: If 'support' attribute is specified, then 'applicationLicense' attribute should not be specified.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="exists(@support) or exists(@applicationLicense)"
              xerces:message="One of 'support' or 'applicationLicense' attribute must be present."
              saxon:message="One of 'support' or 'applicationLicense' attribute must be present.">
         <annotation>
            <documentation>
               <html:p>Assertion: One of 'support' or 'applicationLicense' attribute must be present.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="vCPUCountType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="vRAMType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="20971520"/>
      </restriction>
   </simpleType>
   <simpleType name="powerStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ON"/>
         <enumeration value="SUSPENDED"/>
      </restriction>
   </simpleType>
   <simpleType name="coreStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ONLINE_COMPLETE"/>
         <enumeration value="UNDER_REPAIR"/>
         <enumeration value="REKICK"/>
         <enumeration value="MIGRATION_SERVER"/>
         <enumeration value="REACTIVATION"/>
         <enumeration value="COMPROMISED"/>
         <enumeration value="SUSPENDED_VM"/>
         <enumeration value="SUSPENDED_VM_REPLICATION"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationLicenseEnum">
      <restriction base="xsd:Name">
         <enumeration value="MBU_MS_EXCHANGE_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT_CLUSTERING"/>
         <enumeration value="MBU_MYSQL_AGENT"/>
         <enumeration value="MBU_ORACLE_AGENT"/>
         <enumeration value="MBU_MS_SHAREPOINT_AGENT"/>
         <enumeration value="MBU_CLUSTER_AGENT"/>
         <enumeration value="MBU_LBU_DEDICATED_TAPE_DRIVE"/>
         <enumeration value="MSSQL_2008_WEB"/>
         <enumeration value="MSSQL_2008_STD"/>
         <enumeration value="MSSQL_2008_ENT"/>
         <enumeration value="MSSQL_2012_WEB"/>
         <enumeration value="MSSQL_2012_STD"/>
         <enumeration value="MSSQL_2012_ENT"/>
         <enumeration value="NIMBUS_MON_LINUX"/>
         <enumeration value="NIMBUS_MON_WINDOWS"/>
         <enumeration value="SCOM_MON_WINDOWS"/>
         <enumeration value="MS_TERMINAL_SERVICES"/>
      </restriction>
   </simpleType>
   <simpleType name="supportEnum">
      <restriction base="xsd:Name">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
         <enumeration value="CENTOS"/>
         <enumeration value="UBUNTU"/>
         <enumeration value="MBU_MS_EXCHANGE_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT_CLUSTERING"/>
         <enumeration value="MBU_MYSQL_AGENT"/>
         <enumeration value="MBU_ORACLE_AGENT"/>
         <enumeration value="MBU_MS_SHAREPOINT_AGENT"/>
         <enumeration value="MBU_CLUSTER_AGENT"/>
         <enumeration value="MBU_LBU_DEDICATED_TAPE_DRIVE"/>
         <enumeration value="MSSQL_2008_WEB"/>
         <enumeration value="MSSQL_2008_STD"/>
         <enumeration value="MSSQL_2008_ENT"/>
         <enumeration value="MSSQL_2012_WEB"/>
         <enumeration value="MSSQL_2012_STD"/>
         <enumeration value="MSSQL_2012_ENT"/>
         <enumeration value="NIMBUS_MON_LINUX"/>
         <enumeration value="NIMBUS_MON_WINDOWS"/>
         <enumeration value="SCOM_MON_WINDOWS"/>
         <enumeration value="MS_TERMINAL_SERVICES"/>
      </restriction>
   </simpleType>
</xsd:schema>
