generated_product_xsds/dedicatedvcenter-server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/dedicatedvcenter/server"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/dedicatedvcenter/server">
   <element name="product" type="p:DedicatedVCenterType"/>
   <complexType name="DedicatedVCenterType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Dedicated vCenter server.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="DedicatedVCenter"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="vCPU" use="required" type="p:vCPUType">
         <annotation>
            <documentation>
               <html:p>The number of vCPUs.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vRAM" use="required" type="p:vRAMType">
         <annotation>
            <documentation>
               <html:p>Memory provisioned for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="MB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="guestOSLicense" use="optional" type="p:guestOSLicenseEnum">
         <annotation>
            <documentation>
               <html:p>The Guest OS license for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="hostOSLicense" use="optional" type="p:hostOSLicenseEnum">
         <annotation>
            <documentation>
               <html:p>The Host OS license for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isGuestOSSupported"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>If the Guest OS on this server is supported.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationLicense"
                 use="optional"
                 type="p:applicationLicenseList">
         <annotation>
            <documentation>
               <html:p>The application licenses on this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationSupport"
                 use="optional"
                 type="p:applicationSupportList">
         <annotation>
            <documentation>
               <html:p>The application licenses that are supported on this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="optional" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>The power status of the device</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="coreStatus" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>The status of the device in CORE system</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="vCPUType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="vRAMType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="20971520"/>
      </restriction>
   </simpleType>
   <simpleType name="guestOSLicenseEnum">
      <restriction base="xsd:string">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
      </restriction>
   </simpleType>
   <simpleType name="hostOSLicenseEnum">
      <restriction base="xsd:string">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationLicenseList">
      <list itemType="p:applicationLicenseEnum"/>
   </simpleType>
   <simpleType name="applicationLicenseEnum">
      <restriction base="xsd:Name">
         <enumeration value="MSSQL"/>
         <enumeration value="SHAREPOINT"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationSupportList">
      <list itemType="p:applicationSupportEnum"/>
   </simpleType>
   <simpleType name="applicationSupportEnum">
      <restriction base="xsd:Name">
         <enumeration value="MSSQL"/>
         <enumeration value="SHAREPOINT"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ON"/>
         <enumeration value="OFF"/>
         <enumeration value="SUSPENDED"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
