generated_product_xsds/dedicatedvcloud-serveroslicense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/dedicatedvcloud/serveroslicense"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/dedicatedvcloud/serveroslicense">
   <element name="product" type="p:DedicatedVCloudType"/>
   <complexType name="DedicatedVCloudType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Dedicated vCloud server OS license.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="HYBRID_TO_CORE_RAN"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="DedicatedVCloud"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="vCPUCount" use="required" type="p:vCPUCountType">
         <annotation>
            <documentation>
               <html:p>The number of vCPUs.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vRAM" use="required" type="p:vRAMType">
         <annotation>
            <documentation>
               <html:p>Memory provisioned for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="MB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="powerStatus" use="required" type="p:powerStatusEnum">
         <annotation>
            <documentation>
               <html:p>The power status of the device. Usage events will not be sent for servers with a powerStatus of OFF.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="coreStatus" use="required" type="p:coreStatusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the device in CORE system. Usage events will not be sent for servers with a coreStatus not in this list of allowedValues.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="hostOSLicenseTypes"
                 use="required"
                 type="p:hostOSLicenseTypesList">
         <annotation>
            <documentation>
               <html:p>The Host OS license type(s) for this server. A single host server may have multiple OS licenses.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="guestOSLicenseType"
                 use="required"
                 type="p:guestOSLicenseTypeEnum">
         <annotation>
            <documentation>
               <html:p>The Guest OS license for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="vCPUCountType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="vRAMType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="20971520"/>
      </restriction>
   </simpleType>
   <simpleType name="powerStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ON"/>
         <enumeration value="SUSPENDED"/>
      </restriction>
   </simpleType>
   <simpleType name="coreStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ONLINE_COMPLETE"/>
         <enumeration value="UNDER_REPAIR"/>
         <enumeration value="REKICK"/>
         <enumeration value="MIGRATION_SERVER"/>
         <enumeration value="REACTIVATION"/>
         <enumeration value="COMPROMISED"/>
         <enumeration value="SUSPENDED_VM"/>
         <enumeration value="SUSPENDED_VM_REPLICATION"/>
      </restriction>
   </simpleType>
   <simpleType name="hostOSLicenseTypesList">
      <list itemType="p:hostOSLicenseTypesEnum"/>
   </simpleType>
   <simpleType name="hostOSLicenseTypesEnum">
      <restriction base="xsd:Name">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
         <enumeration value="CENTOS"/>
         <enumeration value="UBUNTU"/>
      </restriction>
   </simpleType>
   <simpleType name="guestOSLicenseTypeEnum">
      <restriction base="xsd:Name">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
         <enumeration value="CENTOS"/>
         <enumeration value="UBUNTU"/>
      </restriction>
   </simpleType>
</xsd:schema>
