generated_product_xsds/dedicatedvcloud-serverlicenseandsupport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/dedicatedvcloud/serverlicenseandsupport"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/dedicatedvcloud/serverlicenseandsupport">
   <element name="product" type="p:DedicatedVCloudType"/>
   <complexType name="DedicatedVCloudType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Dedicated vCloud server license and support.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="HYBRID_TO_CORE_RAN"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="DedicatedVCloud"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="vCPUCount" use="required" type="p:vCPUCountType">
         <annotation>
            <documentation>
               <html:p>The number of vCPUs.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="COUNT" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="vRAM" use="required" type="p:vRAMType">
         <annotation>
            <documentation>
               <html:p>Memory provisioned for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="MB" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="powerStatus" use="required" type="p:powerStatusEnum">
         <annotation>
            <documentation>
               <html:p>The power status of the device. Usage events will not be sent for servers with a powerStatus of OFF.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="coreStatus" use="required" type="p:coreStatusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the device in CORE system. Usage events will not be sent for servers with a coreStatus not in this list of allowedValues.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="eventType" use="required" type="p:eventTypeEnum">
         <annotation>
            <documentation>
               <html:p>The type of this event.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationLicense"
                 use="optional"
                 type="p:applicationLicenseEnum">
         <annotation>
            <documentation>
               <html:p>An application license on this server. If a server has multiple app licenses on a server, multiple usage events will be sent for those licenses.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationSupport"
                 use="optional"
                 type="p:applicationSupportEnum">
         <annotation>
            <documentation>
               <html:p>An application that is supported on this server. If a server has multiple apps that are supported on a server, multiple usage events will be sent for those apps.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="guestOSSupportType"
                 use="optional"
                 type="p:guestOSSupportTypeEnum">
         <annotation>
            <documentation>
               <html:p>The Guest OS for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if (@applicationLicense) then not(@applicationSupport) and not(@guestOSSupportTypes) else true()"
              xerces:message="If 'applicationLicense' attribute is specified, then 'applicationSupport' and 'guestOSSupportTypes' attribute should not be specified."
              saxon:message="If 'applicationLicense' attribute is specified, then 'applicationSupport' and 'guestOSSupportTypes' attribute should not be specified.">
         <annotation>
            <documentation>
               <html:p>Assertion: If 'applicationLicense' attribute is specified, then 'applicationSupport' and 'guestOSSupportTypes' attribute should not be specified.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (@applicationSupport) then not(@applicationLicense) and not(@guestOSSupportTypes) else true()"
              xerces:message="If 'applicationSupport' attribute is specified, then 'applicationLicense' and 'guestOSSupportTypes' attribute should not be specified."
              saxon:message="If 'applicationSupport' attribute is specified, then 'applicationLicense' and 'guestOSSupportTypes' attribute should not be specified.">
         <annotation>
            <documentation>
               <html:p>Assertion: If 'applicationSupport' attribute is specified, then 'applicationLicense' and 'guestOSSupportTypes' attribute should not be specified.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (@guestOSSupporTypes) then not(@applicationLicense) and not(@applicationSupport) else true()"
              xerces:message="If 'applicationLicense' attribute is specified, then 'applicationLicense' and 'applicationSupport' attribute should not be specified."
              saxon:message="If 'applicationLicense' attribute is specified, then 'applicationLicense' and 'applicationSupport' attribute should not be specified.">
         <annotation>
            <documentation>
               <html:p>Assertion: If 'applicationLicense' attribute is specified, then 'applicationLicense' and 'applicationSupport' attribute should not be specified.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="vCPUCountType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="vRAMType">
      <restriction base="xsd:unsignedInt">
         <minInclusive value="0"/>
         <maxInclusive value="20971520"/>
      </restriction>
   </simpleType>
   <simpleType name="powerStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ON"/>
         <enumeration value="SUSPENDED"/>
      </restriction>
   </simpleType>
   <simpleType name="coreStatusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ONLINE_COMPLETE"/>
         <enumeration value="UNDER_REPAIR"/>
         <enumeration value="REKICK"/>
         <enumeration value="MIGRATION_SERVER"/>
         <enumeration value="REACTIVATION"/>
         <enumeration value="COMPROMISED"/>
         <enumeration value="SUSPENDED_VM"/>
         <enumeration value="SUSPENDED_VM_REPLICATION"/>
      </restriction>
   </simpleType>
   <simpleType name="eventTypeEnum">
      <restriction base="xsd:Name">
         <enumeration value="APP_LICENSE"/>
         <enumeration value="APP_SUPPORT"/>
         <enumeration value="OS_SUPPORT"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationLicenseEnum">
      <restriction base="xsd:Name">
         <enumeration value="MBU_MS_EXCHANGE_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT_CLUSTERING"/>
         <enumeration value="MBU_MYSQL_AGENT"/>
         <enumeration value="MBU_ORACLE_AGENT"/>
         <enumeration value="MBU_MS_SHAREPOINT_AGENT"/>
         <enumeration value="MBU_CLUSTER_AGENT"/>
         <enumeration value="MBU_LBU_DEDICATED_TAPE_DRIVE"/>
         <enumeration value="MSSQL_2008_WEB"/>
         <enumeration value="MSSQL_2008_STD"/>
         <enumeration value="MSSQL_2008_ENT"/>
         <enumeration value="MSSQL_2012_WEB"/>
         <enumeration value="MSSQL_2012_STD"/>
         <enumeration value="MSSQL_2012_ENT"/>
         <enumeration value="NIMBUS_MON_LINUX"/>
         <enumeration value="NIMBUS_MON_WINDOWS"/>
         <enumeration value="SCOM_MON_WINDOWS"/>
         <enumeration value="MS_TERMINAL_SERVICES"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationSupportEnum">
      <restriction base="xsd:Name">
         <enumeration value="MBU_MS_EXCHANGE_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT"/>
         <enumeration value="MBU_MSSQL_AGENT_CLUSTERING"/>
         <enumeration value="MBU_MYSQL_AGENT"/>
         <enumeration value="MBU_ORACLE_AGENT"/>
         <enumeration value="MBU_MS_SHAREPOINT_AGENT"/>
         <enumeration value="MBU_CLUSTER_AGENT"/>
         <enumeration value="MBU_LBU_DEDICATED_TAPE_DRIVE"/>
         <enumeration value="MSSQL_2008_WEB"/>
         <enumeration value="MSSQL_2008_STD"/>
         <enumeration value="MSSQL_2008_ENT"/>
         <enumeration value="MSSQL_2012_WEB"/>
         <enumeration value="MSSQL_2012_STD"/>
         <enumeration value="MSSQL_2012_ENT"/>
         <enumeration value="NIMBUS_MON_LINUX"/>
         <enumeration value="NIMBUS_MON_WINDOWS"/>
         <enumeration value="SCOM_MON_WINDOWS"/>
         <enumeration value="MS_TERMINAL_SERVICES"/>
      </restriction>
   </simpleType>
   <simpleType name="guestOSSupportTypeEnum">
      <restriction base="xsd:Name">
         <enumeration value="WINDOWS"/>
         <enumeration value="RHEL"/>
         <enumeration value="CENTOS"/>
         <enumeration value="UBUNTU"/>
      </restriction>
   </simpleType>
</xsd:schema>
