generated_product_xsds/ebs-bu-team.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/ebs/bu-team"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/ebs/bu-team">
   <element name="product" type="p:EBSType"/>
   <complexType name="EBSType">
      <annotation>
         <documentation>
            <html:p>Update to the business unit to team mapping.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <all vc:minVersion="1.1">
         <element name="team" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="name" use="required" type="p:string0_255">
                  <annotation>
                     <documentation>
                        <html:p>Team name.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="number" use="required" type="p:string0_150">
                  <annotation>
                     <documentation>
                        <html:p>Team number.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </all>
      <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
         <element name="team" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="name" use="required" type="p:string0_255">
                  <annotation>
                     <documentation>
                        <html:p>Team name.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="number" use="required" type="p:string0_150">
                  <annotation>
                     <documentation>
                        <html:p>Team number.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </sequence>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="EBS"/>
      <attribute name="businessUnit" use="required" type="p:string0_150">
         <annotation>
            <documentation>
               <html:p>Business unit name.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="description" use="required" type="p:string0_255">
         <annotation>
            <documentation>
               <html:p>Description of the event.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="string0_150">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string0_255">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
