generated_product_xsds/emailAppsDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/emailapps/domain"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/emailapps/domain">
   <element name="product" type="p:EmailAppsType"/>
   <complexType name="EmailAppsType">
      <annotation>
         <documentation>
            <html:p>Email and Apps number of email boxes per domain.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="NONE"
                        type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="EmailApps"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="maxNumberOfMailboxes"
                 use="optional"
                 type="p:maxNumberOfMailboxesType">
         <annotation>
            <documentation>
               <html:p>Max number of email boxes the user has contracted for this domain at this point in time.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="LAST" unitOfMeasure="COUNT" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="currentNumberOfMailboxes"
                 use="required"
                 type="p:currentNumberOfMailboxesType">
         <annotation>
            <documentation>
               <html:p>Current number of email boxes for this domain at this point in time.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="LAST" unitOfMeasure="COUNT" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="EXCHANGE_EMAIL_2007"/>
         <enumeration value="EXCHANGE_EMAIL_2010"/>
         <enumeration value="EXCHANGE_EMAIL_2013"/>
      </restriction>
   </simpleType>
   <simpleType name="maxNumberOfMailboxesType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="75000"/>
      </restriction>
   </simpleType>
   <simpleType name="currentNumberOfMailboxesType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="75000"/>
      </restriction>
   </simpleType>
</xsd:schema>
