generated_product_xsds/emailapps-msservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/emailapps/msservice"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/emailapps/msservice">
   <element name="product" type="p:EmailAppsMSServiceType"/>
   <complexType name="EmailAppsMSServiceType">
      <annotation>
         <documentation>
            <html:p>Email and Apps Microsoft Service events</html:p>
         </documentation>
         <appinfo>
            <usage:core type="INFO"/>
         </appinfo>
      </annotation>
      <all vc:minVersion="1.1">
         <element name="dependent" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="key" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The key of the dependent objects</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </all>
      <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
         <element name="dependent" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="key" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The key of the dependent objects</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </sequence>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="EmailAppsMSService"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="productType" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The MS Service product that this event corresponds to</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="operation" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The operation performed on the resource that this event corresponds to.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="required" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the operation performed on the resource that this event corresponds to.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="request" use="required" type="p:string1_20000">
         <annotation>
            <documentation>
               <html:p>The request that this event corresponds to.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="response" use="optional" type="p:string1_20000">
         <annotation>
            <documentation>
               <html:p>The response for the request above.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="MSSERVICE_PROVISIONING"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:Name">
         <enumeration value="COMPLETED"/>
         <enumeration value="ERROR"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_20000">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="20000"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
