generated_product_xsds/emailAppsMailbox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/emailapps/mailbox"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/emailapps/mailbox">
   <element name="product" type="p:EmailAppsType"/>
   <complexType name="EmailAppsType">
      <annotation>
         <documentation>
            <html:p>Email and Apps number of email boxes per account ID.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="EmailApps"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="storage" use="required" type="p:storageType">
         <annotation>
            <documentation>
               <html:p>The max size of the email box in GB for the individual mailbox.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="GB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="EXCHANGE_EMAIL_2007"/>
         <enumeration value="EXCHANGE_EMAIL_2010"/>
         <enumeration value="EXCHANGE_EMAIL_2013"/>
      </restriction>
   </simpleType>
   <simpleType name="storageType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="100"/>
      </restriction>
   </simpleType>
</xsd:schema>
