generated_product_xsds/emailAppsSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/emailapps/subscription"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/emailapps/subscription">
   <element name="product" type="p:EmailAppsType"/>
   <complexType name="EmailAppsType">
      <annotation>
         <documentation>
            <html:p>Subscription to Email and Apps products.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="NONE"
                        type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="EmailApps"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="action" use="required" type="p:actionEnum">
         <annotation>
            <documentation>
               <html:p>The action that caused this event to be created.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isNewAccount"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>A boolean. Should be true if the date the plan is added is the same UTC date the account was created.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes displayName="Is new account"
                                 aggregateFunction="NONE"
                                 groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="maxNumberOfMailboxes"
                 use="optional"
                 type="p:maxNumberOfMailboxesType">
         <annotation>
            <documentation>
               <html:p>New max number of mailboxes contracted for this domain.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes displayName="Max number of mailboxes"
                                 aggregateFunction="NONE"
                                 groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="EXCHANGE_EMAIL_2007_SUBSCRIPTION"/>
         <enumeration value="EXCHANGE_EMAIL_2010_SUBSCRIPTION"/>
         <enumeration value="EXCHANGE_EMAIL_2013_SUBSCRIPTION"/>
      </restriction>
   </simpleType>
   <simpleType name="actionEnum">
      <restriction base="xsd:string">
         <enumeration value="SUBSCRIBE"/>
         <enumeration value="CANCEL"/>
         <enumeration value="UPDATE"/>
      </restriction>
   </simpleType>
   <simpleType name="maxNumberOfMailboxesType">
      <restriction base="xsd:int">
         <maxInclusive value="75000"/>
      </restriction>
   </simpleType>
</xsd:schema>
