generated_product_xsds/identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/identity/user"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/user">
   <element name="product"
            type="p:CloudIdentity2Type"
            vc:minVersion="1.0"
            vc:maxVersion="1.1">
      <annotation>
         <documentation>
            <html:p>
                        Alternates are not supported by XSD 1.0.  So
                        in XSD 1.0 we are only supporting a single
                        version (in this case version 2).
                    </html:p>
            <html:p>
                        To support other versions you may redefine the
                        product element to any of the following types:
                    </html:p>
            <html:ol>
               <html:li>p:CloudIdentity1Type</html:li>
               <html:li>p:CloudIdentity2Type</html:li>
            </html:ol>
         </documentation>
      </annotation>
   </element>
   <element name="product" vc:minVersion="1.1" type="p:BaseCloudIdentityType">
      <alternative test="@version eq '1'" type="p:CloudIdentity1Type"/>
      <alternative test="@version eq '2'" type="p:CloudIdentity2Type"/>
      <alternative type="p:BaseCloudIdentityTypeError"/>
   </element>
   <complexType name="BaseCloudIdentityType">
      <attribute name="version" type="xsd:string" use="required"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
   </complexType>
   <complexType name="BaseCloudIdentityTypeError" vc:minVersion="1.1">
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <openContent mode="interleave">
               <any processContents="skip"/>
            </openContent>
            <anyAttribute processContents="skip"/>
            <assert test="false()"
                    xerces:message="For this type of message, only  versions ( 1, 2 ) are supported."
                    saxon:message="For this type of message, only  versions ( 1, 2 ) are supported."/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="CloudIdentity1Type">
      <annotation>
         <documentation>
            <html:p>Identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes1"/>
            <attribute name="displayName" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The display name of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="groups" use="optional" type="p:groups1List">
               <annotation>
                  <documentation>
                     <html:p>The list of groups currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="roles" use="optional" type="p:roles1List">
               <annotation>
                  <documentation>
                     <html:p>The list of roles currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="migrated"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>True if the user has been migrated to global auth, false otherwise. The default is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes1">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="groups1List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="roles1List">
      <list itemType="p:string"/>
   </simpleType>
   <complexType name="CloudIdentity2Type">
      <annotation>
         <documentation>
            <html:p>Identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes2"/>
            <attribute name="displayName" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The display name of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="groups" use="optional" type="p:groups2List">
               <annotation>
                  <documentation>
                     <html:p>The list of groups currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="roles" use="optional" type="p:roles2List">
               <annotation>
                  <documentation>
                     <html:p>The list of roles currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="migrated"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>True if the user has been migrated to global auth, false otherwise. The default is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="updatedAttributes"
                       use="optional"
                       type="p:updatedAttributes2List">
               <annotation>
                  <documentation>
                     <html:p>The attributes that have been updated.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes searchable="true"/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes2">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="groups2List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="roles2List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="updatedAttributes2List">
      <list itemType="p:updatedAttributes2Enum"/>
   </simpleType>
   <simpleType name="updatedAttributes2Enum">
      <restriction base="xsd:Name">
         <enumeration value="PASSWORD"/>
         <enumeration value="ROLES"/>
         <enumeration value="GROUPS"/>
         <enumeration value="FIRSTNAME"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
