generated_product_xsds/lbaas-health-monitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/lbaas/health-monitor"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/lbaas/health-monitor">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Health monitor events.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="type" use="optional" type="p:typeEnum">
         <annotation>
            <documentation>
               <html:p>Type of health monitor.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="delay" use="optional" type="p:delayType">
         <annotation>
            <documentation>
               <html:p>Minimum seconds to wait before executing the health monitor.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="timeout" use="optional" type="p:timeoutType">
         <annotation>
            <documentation>
               <html:p>Maximum number of seconds to wait for a connection to be established before timing out.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="attemptsBeforeDeactivation"
                 use="optional"
                 type="p:attemptsBeforeDeactivationType">
         <annotation>
            <documentation>
               <html:p>Number of permissible monitor failures before removing a node from rotation.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="path" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>Path.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="monitorStatusRegex" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>A regular expression that will be used to evaluate the HTTP status code returned in the response.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bodyRegex" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>A regular expression that will be used to evaluate the contents of the body of the response.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HEALTH_MONITOR"/>
      </restriction>
   </simpleType>
   <simpleType name="typeEnum">
      <restriction base="xsd:string">
         <enumeration value="CONNECT"/>
         <enumeration value="HTTP"/>
         <enumeration value="HTTPS"/>
      </restriction>
   </simpleType>
   <simpleType name="delayType">
      <restriction base="xsd:integer">
         <minInclusive value="1"/>
         <maxInclusive value="3600"/>
      </restriction>
   </simpleType>
   <simpleType name="timeoutType">
      <restriction base="xsd:integer">
         <minInclusive value="1"/>
         <maxInclusive value="300"/>
      </restriction>
   </simpleType>
   <simpleType name="attemptsBeforeDeactivationType">
      <restriction base="xsd:integer">
         <minInclusive value="1"/>
         <maxInclusive value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
