generated_product_xsds/lbaas-node.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/lbaas/node"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/lbaas/node">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>LbaaS Node events.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="address" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>Address of the node.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="port" use="optional" type="p:portType">
         <annotation>
            <documentation>
               <html:p>Port number of the service being load balanced.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="condition" use="optional" type="p:conditionEnum">
         <annotation>
            <documentation>
               <html:p>If the node is 'ENABLED', 'DISABLED', or DRAINING.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="weight" use="optional" type="p:weightType">
         <annotation>
            <documentation>
               <html:p>Used by the 'WEIGHTED_LEAST_CONNECTION' and 'WEIGHTED_ROUND_ROBIN' algorithms.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="NODE"/>
      </restriction>
   </simpleType>
   <simpleType name="portType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="65535"/>
      </restriction>
   </simpleType>
   <simpleType name="conditionEnum">
      <restriction base="xsd:string">
         <enumeration value="ENABLED"/>
         <enumeration value="DISABLED"/>
         <enumeration value="DRAINING"/>
      </restriction>
   </simpleType>
   <simpleType name="weightType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
