generated_product_xsds/lbaas-lb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/lbaas/lb"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/lbaas/lb">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Load balancer system event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="algorithm" use="optional" type="p:algorithmEnum">
         <annotation>
            <documentation>
               <html:p>Algorithm that defines how traffic should be directed between back-end nodes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE" withResource="LOADBALANCER"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="protocol" use="optional" type="p:protocolEnum">
         <annotation>
            <documentation>
               <html:p>Protocol of the service being load balanced.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE" withResource="LOADBALANCER"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="port" use="optional" type="p:portType">
         <annotation>
            <documentation>
               <html:p>Port number of the service being load balanced.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE" withResource="LOADBALANCER"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="timeout" use="optional" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>Timecount configured on the load balancer.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE" withResource="LOADBALANCER"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="halfClose" use="optional" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Enable or Disable Half-Closed support for the load balancer. Half-Closed support provides the ability for one end of the connection to terminate its output, while still receiving data from the other end. Only available for TCP and TCP_CLIENT_FIRST protocol values.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE UPDATE" withResource="LOADBALANCER"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="networkItemId" use="optional" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>Netowork item ID.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE DELETE" withResource="ACCESS_LIST"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="accessAddress" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>IP address.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="ACCESS_LIST"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="accessType" use="optional" type="p:accessTypeEnum">
         <annotation>
            <documentation>
               <html:p>Access type. Either 'ALLOW' or 'DENY'.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="ACCESS_LIST"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="minConnections" use="optional" type="p:minConnectionsType">
         <annotation>
            <documentation>
               <html:p>Minimum number of connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONNECTION_THROTTLE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="maxConnections" use="optional" type="p:maxConnectionsType">
         <annotation>
            <documentation>
               <html:p>Maximum number of connections.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONNECTION_THROTTLE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="maxConnectionRate"
                 use="optional"
                 type="p:maxConnectionRateType">
         <annotation>
            <documentation>
               <html:p>Maximum connection rate.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONNECTION_THROTTLE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="rateInterval" use="optional" type="p:rateIntervalType">
         <annotation>
            <documentation>
               <html:p>Rate interval.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONNECTION_THROTTLE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="persistenceType" use="optional" type="p:persistenceTypeEnum">
         <annotation>
            <documentation>
               <html:p>Method for persisting the session. Either 'HTTP_COOKIE' or 'SOURCE_IP'.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="SESSION_PERSISTENCE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="connectionLogEnabled" use="optional" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>If connection log is enabled.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONNECTION_LOGGING"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="contentCachingEnabled" use="optional" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>If content caching is enabled.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="CONTENT_CACHING"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="sslTerminationEnabled" use="optional" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>If ssl termination is enabled.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="SSL_TERMINATION"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="secureTrafficOnly" use="optional" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Secure traffic only.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="SSL_TERMINATION"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="securePort" use="optional" type="p:securePortType">
         <annotation>
            <documentation>
               <html:p>Port number for SSL.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="UPDATE" withResource="SSL_TERMINATION"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if(@halfClose) then (@protocol = 'TCP' or @protocol = 'TCP_CLIENT_FIRST') else true()"
              xerces:message="halfClose is only valid for TCP and TCP_CLIENT_FIRST protocol values."
              saxon:message="halfClose is only valid for TCP and TCP_CLIENT_FIRST protocol values.">
         <annotation>
            <documentation>
               <html:p>Assertion: halfClose is only valid for TCP and TCP_CLIENT_FIRST protocol values.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCER"/>
         <enumeration value="CONNECTION_THROTTLE"/>
         <enumeration value="ACCESS_LIST"/>
         <enumeration value="SESSION_PERSISTENCE"/>
         <enumeration value="CONNECTION_LOGGING"/>
         <enumeration value="CONTENT_CACHING"/>
         <enumeration value="SSL_TERMINATION"/>
      </restriction>
   </simpleType>
   <simpleType name="algorithmEnum">
      <restriction base="xsd:string">
         <enumeration value="LEAST_CONNECTIONS"/>
         <enumeration value="RANDOM"/>
         <enumeration value="ROUND_ROBIN"/>
         <enumeration value="WEIGHTED_LEAST_CONNECTIONS"/>
         <enumeration value="WEIGHTED_ROUND_ROBIN"/>
      </restriction>
   </simpleType>
   <simpleType name="protocolEnum">
      <restriction base="xsd:string">
         <enumeration value="DNS_TCP"/>
         <enumeration value="DNS_UDP"/>
         <enumeration value="FTP"/>
         <enumeration value="HTTP"/>
         <enumeration value="HTTPS"/>
         <enumeration value="IMAPS"/>
         <enumeration value="IMAPv4"/>
         <enumeration value="LDAP"/>
         <enumeration value="LDAPS"/>
         <enumeration value="MYSQL"/>
         <enumeration value="POP3"/>
         <enumeration value="POP3S"/>
         <enumeration value="SMTP"/>
         <enumeration value="TCP"/>
         <enumeration value="TCP_CLIENT_FIRST"/>
         <enumeration value="UDP"/>
         <enumeration value="UDP_STREAM"/>
         <enumeration value="SFTP"/>
      </restriction>
   </simpleType>
   <simpleType name="portType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="65535"/>
      </restriction>
   </simpleType>
   <simpleType name="accessTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="ALLOW"/>
         <enumeration value="DENY"/>
      </restriction>
   </simpleType>
   <simpleType name="minConnectionsType">
      <restriction base="xsd:integer">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="maxConnectionsType">
      <restriction base="xsd:integer">
         <minInclusive value="0"/>
         <maxInclusive value="100000"/>
      </restriction>
   </simpleType>
   <simpleType name="maxConnectionRateType">
      <restriction base="xsd:integer">
         <minInclusive value="0"/>
         <maxInclusive value="100000"/>
      </restriction>
   </simpleType>
   <simpleType name="rateIntervalType">
      <restriction base="xsd:integer">
         <minInclusive value="1"/>
         <maxInclusive value="3600"/>
      </restriction>
   </simpleType>
   <simpleType name="persistenceTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="HTTP_COOKIE"/>
         <enumeration value="SOURCE_IP"/>
      </restriction>
   </simpleType>
   <simpleType name="securePortType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="65535"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
