generated_product_xsds/lbaas-vip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/lbaas/vip"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/lbaas/vip">
   <element name="product" type="p:CloudLoadBalancersType"/>
   <complexType name="CloudLoadBalancersType">
      <annotation>
         <documentation>
            <html:p>Lbaas Virtual IP events.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudLoadBalancers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="address" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>Virtual IP address.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="IPversion" use="optional" type="p:IPversionEnum">
         <annotation>
            <documentation>
               <html:p>IP version.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="type" use="optional" type="p:typeEnum">
         <annotation>
            <documentation>
               <html:p>Virtual IP type. Either 'PUBLIC' or 'SERVICENET'.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes withEventType="CREATE"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="VIP"/>
      </restriction>
   </simpleType>
   <simpleType name="IPversionEnum">
      <restriction base="xsd:string">
         <enumeration value="IPV4"/>
         <enumeration value="IPV6"/>
      </restriction>
   </simpleType>
   <simpleType name="typeEnum">
      <restriction base="xsd:string">
         <enumeration value="PUBLIC"/>
         <enumeration value="SERVICENET"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
