generated_product_xsds/maas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/maas.xml
    GENERATED ON: 2012-05-30T17:31:04.937-05:00
-->
<schema xmlns:html="http://www.w3.org/1999/xhtml"
        xmlns:usage="http://docs.rackspace.com/core/usage"
        xmlns:saxon="http://saxon.sf.net/"
        xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xerces="http://xerces.apache.org"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:p="http://docs.rackspace.com/usage/maas"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://docs.rackspace.com/usage/maas">
   <element name="product" type="p:MaaSType"/>
   <complexType name="MaaSType">
      <annotation>
         <documentation>
            <html:p>MaaS specific usage fields.</html:p>
         </documentation>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="MaaS"/>
      <attribute name="monitoringZones" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The number of monitoring zones.</html:p>
               <appinfo>
                  <usage:attributes unitOfMeasure="COUNT"/>
               </appinfo>
            </documentation>
         </annotation>
      </attribute>
      <attribute name="checkType" use="optional" type="xsd:string">
         <annotation>
            <documentation>
               <html:p>The type of check being performed.</html:p>
               <appinfo>
                  <usage:attributes billable="false"/>
               </appinfo>
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="CHECK"/>
      </restriction>
   </simpleType>
</schema>