generated_product_xsds/netdevice-backupfailure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/netdevice/backupfailure"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/netdevice/backupfailure">
   <element name="product" type="p:NetDeviceType"/>
   <complexType name="NetDeviceType">
      <annotation>
         <documentation>
            <html:p>INFO messages on loadbalancer and firewall backup failures for FDaaT.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="INFO"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="NetDevice"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="hostname" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The hostname of the device.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="url" use="required" type="xsd:anyURI">
         <annotation>
            <documentation>
               <html:p>The link to view the event info in Torq.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="description" use="required" type="p:string0_256">
         <annotation>
            <documentation>
               <html:p>The description of the failure.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="LOADBALANCER"/>
         <enumeration value="FIREWALL"/>
      </restriction>
   </simpleType>
   <simpleType name="string0_256">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
