generated_product_xsds/nova-updown.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/matt.kovacs/git-forks/standard-usage-schemas/sample_product_schemas/nova-updown.xml
    GENERATED ON: 2013-02-25T16:28:51.467-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/nova/host"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/nova/host">
   <element name="product" type="p:CloudServersOpenStackType"/>
   <complexType name="CloudServersOpenStackType">
      <annotation>
         <documentation>
            <html:p>UP / DOWN messages for Nova.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="UP DOWN"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServersOpenStack"/>
      <attribute name="status" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The status of the event.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="collector" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The hostname of the collector.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="checkType" use="required" type="p:checkTypeEnum">
         <annotation>
            <documentation>
               <html:p>The check type.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="checkStatus" use="required" type="p:checkStatusEnum">
         <annotation>
            <documentation>
               <html:p>The check status.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="description" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The description</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if (@type = 'DOWN') then not(@checkStatus = 'OK') else true()"
              xerces:message="If message is DOWN type then checkStatus cannot be OK."
              saxon:message="If message is DOWN type then checkStatus cannot be OK.">
         <annotation>
            <documentation>
               <html:p>Assertion: If message is DOWN type then checkStatus cannot be OK.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (@type = 'UP') then not(@checkStatus = 'CRITICAL') else true()"
              xerces:message="If message is UP type then checkStatus cannot be CRITICAL."
              saxon:message="If message is UP type then checkStatus cannot be CRITICAL.">
         <annotation>
            <documentation>
               <html:p>Assertion: If message is UP type then checkStatus cannot be CRITICAL.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HOST"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="checkTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="PING"/>
      </restriction>
   </simpleType>
   <simpleType name="checkStatusEnum">
      <restriction base="xsd:string">
         <enumeration value="CRITICAL"/>
         <enumeration value="OK"/>
      </restriction>
   </simpleType>
</xsd:schema>
