generated_product_xsds/nova.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/nova"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/nova">
   <element name="product" type="p:CloudServersOpenStackType"/>
   <complexType name="CloudServersOpenStackType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Next Generation (Nova) server.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServersOpenStack"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="flavorId" use="required" type="p:string1_50">
         <annotation>
            <documentation>
               <html:p>The flavor id of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="flavorName" use="required" type="p:string1_300">
         <annotation>
            <documentation>
               <html:p>The flavor name of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="required" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="osLicenseType"
                 use="optional"
                 default="LINUX"
                 type="p:osLicenseTypeEnum">
         <annotation>
            <documentation>
               <html:p>The OS license type for this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="applicationLicense"
                 use="optional"
                 type="p:applicationLicenseList">
         <annotation>
            <documentation>
               <html:p>An application license on this server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isManaged"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Is this a managed server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthIn" use="required" type="p:bandwidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOut" use="required" type="p:bandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if ( @applicationLicense = 'MSSQL_WEB' or @applicationLicense = 'MSSQL' ) then not( @osLicenseType = 'RHEL' or @osLicenseType = 'LINUX' ) else true()"
              xerces:message="If applicationLicense is MSSQL_WEB or MSSQL, then osLicenseType can not be RHEL or LINUX."
              saxon:message="If applicationLicense is MSSQL_WEB or MSSQL, then osLicenseType can not be RHEL or LINUX.">
         <annotation>
            <documentation>
               <html:p>Assertion: If applicationLicense is MSSQL_WEB or MSSQL, then osLicenseType can not be RHEL or LINUX.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ACTIVE"/>
         <enumeration value="BUILD"/>
         <enumeration value="DELETED"/>
         <enumeration value="ERROR"/>
         <enumeration value="HARD_REBOOT"/>
         <enumeration value="MIGRATING"/>
         <enumeration value="PASSWORD"/>
         <enumeration value="REBOOT"/>
         <enumeration value="REBUILD"/>
         <enumeration value="RESCUE"/>
         <enumeration value="RESIZE"/>
         <enumeration value="REVERT_RESIZE"/>
         <enumeration value="SUSPENDED"/>
         <enumeration value="UNKNOWN"/>
         <enumeration value="VERIFY_RESIZE"/>
         <enumeration value="SHELVED"/>
      </restriction>
   </simpleType>
   <simpleType name="osLicenseTypeEnum">
      <restriction base="xsd:Name">
         <enumeration value="VYATTA"/>
         <enumeration value="RHEL"/>
         <enumeration value="WINDOWS"/>
         <enumeration value="LINUX"/>
      </restriction>
   </simpleType>
   <simpleType name="applicationLicenseList">
      <list itemType="p:applicationLicenseEnum"/>
   </simpleType>
   <simpleType name="applicationLicenseEnum">
      <restriction base="xsd:Name">
         <enumeration value="MSSQL_WEB"/>
         <enumeration value="MSSQL"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_50">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_300">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="300"/>
      </restriction>
   </simpleType>
</xsd:schema>
