generated_product_xsds/nova.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/nova"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/nova">
   <element name="product" type="p:CloudServersOpenStackType"/>
   <complexType name="CloudServersOpenStackType">
      <annotation>
         <documentation>
            <html:p>Usage message for a Next Generation (Nova) server.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServersOpenStack"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="appliance" use="optional" type="p:applianceEnum">
         <annotation>
            <documentation>
               <html:p>The appliance type.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="flavorId" use="required" type="p:string1_50">
         <annotation>
            <documentation>
               <html:p>The flavor id of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="flavorName" use="required" type="p:string1_300">
         <annotation>
            <documentation>
               <html:p>The flavor name of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="status" use="required" type="p:statusEnum">
         <annotation>
            <documentation>
               <html:p>The status of the server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isRedHat"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Does the server use a RedHat license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isMSSQL"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Does the server use an MSSQL license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isMSSQLWeb"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Does the server use an MSSQL Web license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isWindows"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Does the server use a Windows license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isSELinux"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Does the server use an SELinux license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isManaged"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>Is this a managed server.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthIn" use="required" type="p:bandwidthInType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth in, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="bandwidthOut" use="required" type="p:bandwidthOutType">
         <annotation>
            <documentation>
               <html:p>The amount of bandwidth out, in kilobytes.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="SUM" unitOfMeasure="KB" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="if (xsd:boolean(@isRedHat)) then not(xsd:boolean(@isSELinux) or xsd:boolean(@isWindows) or xsd:boolean(@isMSSQL) or xsd:boolean(@isMSSQLWeb)) else true()"
              xerces:message="If server isRedHat then it cannot be SELinux, Windows, MSSQL or MSSQLQWeb."
              saxon:message="If server isRedHat then it cannot be SELinux, Windows, MSSQL or MSSQLQWeb.">
         <annotation>
            <documentation>
               <html:p>Assertion: If server isRedHat then it cannot be SELinux, Windows, MSSQL or MSSQLQWeb.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (xsd:boolean(@isSELinux)) then not(xsd:boolean(@isRedHat) or xsd:boolean(@isWindows) or xsd:boolean(@isMSSQL) or xsd:boolean(@isMSSQLWeb)) else true()"
              xerces:message="If server isSELinux then it cannot be RedHat, Windows, MSSQL or MSSQLQWeb."
              saxon:message="If server isSELinux then it cannot be RedHat, Windows, MSSQL or MSSQLQWeb.">
         <annotation>
            <documentation>
               <html:p>Assertion: If server isSELinux then it cannot be RedHat, Windows, MSSQL or MSSQLQWeb.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (xsd:boolean(@isWindows)) then not(xsd:boolean(@isRedHat) or xsd:boolean(@isSELinux)) else true()"
              xerces:message="If server isWindows then it cannot be RedHat or SELinux."
              saxon:message="If server isWindows then it cannot be RedHat or SELinux.">
         <annotation>
            <documentation>
               <html:p>Assertion: If server isWindows then it cannot be RedHat or SELinux.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (xsd:boolean(@isMSSQL)) then xsd:boolean(@isWindows) and not(xsd:boolean(@isMSSQLWeb) or xsd:boolean(@isRedHat) or xsd:boolean(@isSELinux)) else true()"
              xerces:message="If server isMSSQL then it has to be windows, and not RedHat, SELinux or MSSQLWeb."
              saxon:message="If server isMSSQL then it has to be windows, and not RedHat, SELinux or MSSQLWeb.">
         <annotation>
            <documentation>
               <html:p>Assertion: If server isMSSQL then it has to be windows, and not RedHat, SELinux or MSSQLWeb.</html:p>
            </documentation>
         </annotation>
      </assert>
      <assert vc:minVersion="1.1"
              test="if (xsd:boolean(@isMSSQLWeb)) then xsd:boolean(@isWindows) and not(xsd:boolean(@isMSSQL) or xsd:boolean(@isRedHat) or xsd:boolean(@isSELinux)) else true()"
              xerces:message="If server isMSSQLWeb then it has to be windows, and not RedHat, SELinux or MSSQL."
              saxon:message="If server isMSSQLWeb then it has to be windows, and not RedHat, SELinux or MSSQL.">
         <annotation>
            <documentation>
               <html:p>Assertion: If server isMSSQLWeb then it has to be windows, and not RedHat, SELinux or MSSQL.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SERVER"/>
      </restriction>
   </simpleType>
   <simpleType name="applianceEnum">
      <restriction base="xsd:string">
         <enumeration value="VYATTA"/>
      </restriction>
   </simpleType>
   <simpleType name="statusEnum">
      <restriction base="xsd:Name">
         <enumeration value="ACTIVE"/>
         <enumeration value="BUILD"/>
         <enumeration value="DELETED"/>
         <enumeration value="ERROR"/>
         <enumeration value="HARD_REBOOT"/>
         <enumeration value="MIGRATING"/>
         <enumeration value="PASSWORD"/>
         <enumeration value="REBOOT"/>
         <enumeration value="REBUILD"/>
         <enumeration value="RESCUE"/>
         <enumeration value="RESIZE"/>
         <enumeration value="REVERT_RESIZE"/>
         <enumeration value="SUSPENDED"/>
         <enumeration value="UNKNOWN"/>
         <enumeration value="VERIFY_RESIZE"/>
         <enumeration value="SHELVED"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthInType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
   <simpleType name="bandwidthOutType">
      <restriction base="xsd:unsignedLong">
         <minInclusive value="0"/>
         <maxInclusive value="6480000000"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_50">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string1_300">
      <restriction base="xsd:string">
         <minLength value="1"/>
         <maxLength value="300"/>
      </restriction>
   </simpleType>
</xsd:schema>
