generated_product_xsds/redhat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/matt.kovacs/git-forks/standard-usage-schemas/sample_product_schemas/redhat.xml
    GENERATED ON: 2013-02-11T10:29:12.691-06:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/RHEL"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/RHEL">
   <element name="product" type="p:RHELType"/>
   <complexType name="RHELType">
      <annotation>
         <documentation>
            <html:p>Usage message for RedHat License</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="false" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="RHEL"/>
      <attribute name="used" use="optional" default="true" type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>The attribute is used to hold metadata about the message. In this case it is used to count a single RHEL license.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="MAX_CONCURRENT"
                                 unitOfMeasure="COUNT"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <assert vc:minVersion="1.1"
              test="xsd:boolean(@used)"
              xerces:message="The used attribute in a RHEL message should always evaluate to true."
              saxon:message="The used attribute in a RHEL message should always evaluate to true.">
         <annotation>
            <documentation>
               <html:p>Assertion: The used attribute in a RHEL message should always evaluate to true.</html:p>
            </documentation>
         </annotation>
      </assert>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="INSTANCE"/>
      </restriction>
   </simpleType>
</xsd:schema>
