generated_product_xsds/servers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/servers/hostserver"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/servers/hostserver">
   <element name="product" type="p:CloudServersType"/>
   <complexType name="CloudServersType">
      <annotation>
         <documentation>
            <html:p>Server down event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="DOWN"/>
         </appinfo>
      </annotation>
      <all vc:minVersion="1.1">
         <element name="slice" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="name" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The name of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="id" use="required" type="xsd:int">
                  <annotation>
                     <documentation>
                        <html:p>The id of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="ip" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The IP of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </all>
      <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
         <element name="slice" minOccurs="0" maxOccurs="5000">
            <complexType>
               <attribute name="name" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The name of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="id" use="required" type="xsd:int">
                  <annotation>
                     <documentation>
                        <html:p>The id of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="ip" use="required" type="p:string">
                  <annotation>
                     <documentation>
                        <html:p>The IP of the slice.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </sequence>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="coreID" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The CORE ID for the HOST.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="serverID" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The Server ID for the HOST.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="huddleID" use="required" type="xsd:int">
         <annotation>
            <documentation>
               <html:p>The huddle ID.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="backstageURL" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The backstage URL to access the host.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="hostIP" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The ip of the host.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="eventType" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The type of monitoring event.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HOST"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
