generated_product_xsds/servers-ip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/servers/ip"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/servers/ip">
   <element name="product" type="p:CloudServersType"/>
   <complexType name="CloudServersType">
      <annotation>
         <documentation>
            <html:p>First Gen Cloud Server Additional IP Usage Event.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="ip" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The IP address.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="serverId" use="required">
         <annotation>
            <documentation>
               <html:p>The serverId that this IP is associated to.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
         <simpleType>
            <union memberTypes="xsd:int p:UUID"/>
         </simpleType>
      </attribute>
      <attribute name="reserved"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>A flag to indicate whether the IP is reserved or not.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="INSTANCE"/>
      </restriction>
   </simpleType>
   <simpleType name="UUID">
      <restriction base="xsd:string">
         <length value="36" fixed="true"/>
         <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
