generated_product_xsds/servers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/servers/hostserver"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/servers/hostserver">
   <element name="product"
            type="p:CloudServers2Type"
            vc:minVersion="1.0"
            vc:maxVersion="1.1">
      <annotation>
         <documentation>
            <html:p>
                        Alternates are not supported by XSD 1.0.  So
                        in XSD 1.0 we are only supporting a single
                        version (in this case version 2).
                    </html:p>
            <html:p>
                        To support other versions you may redefine the
                        product element to any of the following types:
                    </html:p>
            <html:ol>
               <html:li>p:CloudServers1Type</html:li>
               <html:li>p:CloudServers2Type</html:li>
            </html:ol>
         </documentation>
      </annotation>
   </element>
   <element name="product" vc:minVersion="1.1" type="p:BaseCloudServersType">
      <alternative test="@version eq '1'" type="p:CloudServers1Type"/>
      <alternative test="@version eq '2'" type="p:CloudServers2Type"/>
      <alternative type="p:BaseCloudServersTypeError"/>
   </element>
   <complexType name="BaseCloudServersType">
      <attribute name="version" type="xsd:string" use="required"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudServers"/>
   </complexType>
   <complexType name="BaseCloudServersTypeError" vc:minVersion="1.1">
      <complexContent>
         <extension base="p:BaseCloudServersType">
            <openContent mode="interleave">
               <any processContents="skip"/>
            </openContent>
            <anyAttribute processContents="skip"/>
            <assert test="false()"
                    xerces:message="For this type of message, only  versions ( 1, 2 ) are supported."
                    saxon:message="For this type of message, only  versions ( 1, 2 ) are supported."/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="CloudServers1Type">
      <annotation>
         <documentation>
            <html:p>Server down event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="DOWN"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudServersType">
            <all vc:minVersion="1.1">
               <element name="slice" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="name" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The name of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="id" use="required" type="xsd:int">
                        <annotation>
                           <documentation>
                              <html:p>The id of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="ip" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The IP of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </all>
            <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
               <element name="slice" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="name" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The name of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="id" use="required" type="xsd:int">
                        <annotation>
                           <documentation>
                              <html:p>The id of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="ip" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The IP of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </sequence>
            <attribute name="resourceType" use="required" type="p:ResourceTypes1"/>
            <attribute name="coreID" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>The CORE ID for the HOST.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="serverID" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>The Server ID for the HOST.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="huddleID" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>The huddle ID.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="backstageURL" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The backstage URL to access the host.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="hostIP" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The ip of the host.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="eventType" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The type of monitoring event.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes1">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HOST"/>
      </restriction>
   </simpleType>
   <complexType name="CloudServers2Type">
      <annotation>
         <documentation>
            <html:p>Server down event.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="DOWN"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudServersType">
            <all vc:minVersion="1.1">
               <element name="slice" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="name" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The name of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="id" use="required" type="xsd:int">
                        <annotation>
                           <documentation>
                              <html:p>The id of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="ip" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The IP of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </all>
            <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
               <element name="slice" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="name" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The name of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="id" use="required" type="xsd:int">
                        <annotation>
                           <documentation>
                              <html:p>The id of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="ip" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The IP of the slice.</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </sequence>
            <attribute name="resourceType" use="required" type="p:ResourceTypes2"/>
            <attribute name="coreID" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>The CORE ID for the HOST.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="serverID" use="required" type="p:serverID2Type">
               <annotation>
                  <documentation>
                     <html:p>The Server ID for the HOST.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="huddleID" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>The huddle ID.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="backstageURL" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The backstage URL to access the host.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="hostIP" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The ip of the host.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="eventType" use="required" type="p:eventType2Enum">
               <annotation>
                  <documentation>
                     <html:p>The type of monitoring event.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes2">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="HOST"/>
      </restriction>
   </simpleType>
   <simpleType name="serverID2Type">
      <restriction base="xsd:unsignedInt">
         <maxInclusive value="4294967295"/>
      </restriction>
   </simpleType>
   <simpleType name="eventType2Enum">
      <restriction base="xsd:Name">
         <enumeration value="GENERIC"/>
         <enumeration value="HIGH_LOAD"/>
         <enumeration value="PING_NO_SSH"/>
         <enumeration value="UNREACHABLE"/>
         <enumeration value="UPTIME_RESET"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
