generated_product_xsds/sites-db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/jorgew/projects/usage-schema/sample_product_schemas/sites-db.xml
    GENERATED ON: 2012-09-21T10:16:41.849-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/db"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/db">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>Total usage for sites db.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="name" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>The database name.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false" billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="storage" use="required" type="xsd:unsignedLong">
         <annotation>
            <documentation>
               <html:p>The amount of disk storage.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="AVG"
                                 unitOfMeasure="B"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="MYSQL"/>
         <enumeration value="MSSQL"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
