generated_product_xsds/sites-email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS SCHEMA IS AUTOGENERATED DO NOT EDIT
    ORIGINAL FILE: file:/Users/shin4590/AHsrc/forks/standard-usage-schemas/sample_product_schemas/sites-email.xml
    GENERATED ON: 2013-04-09T13:22:30.195-05:00
-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/sites/email"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/sites/email">
   <element name="product" type="p:CloudSitesType"/>
   <complexType name="CloudSitesType">
      <annotation>
         <documentation>
            <html:p>Cloud Sites number of email boxes per account ID (not aggregated).</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true" type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudSites"/>
      <attribute name="numberOfMailboxes"
                 use="required"
                 type="p:numberOfMailboxesType">
         <annotation>
            <documentation>
               <html:p>Number of email boxes for this tenant at this point in time.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes displayName="Number of Email Boxes"
                                 aggregateFunction="NONE"
                                 groupBy="false"
                                 billable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SITES_EMAIL"/>
      </restriction>
   </simpleType>
   <simpleType name="numberOfMailboxesType">
      <restriction base="xsd:int">
         <minInclusive value="0"/>
         <maxInclusive value="1000"/>
      </restriction>
   </simpleType>
</xsd:schema>
