generated_product_xsds/ssl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/ssl"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/ssl">
   <element name="product" type="p:SslType"/>
   <complexType name="SslType">
      <annotation>
         <documentation>
            <html:p>Subscription event for SSL.</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE_SNAPSHOT"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode" use="required" type="xsd:Name" fixed="Ssl"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="action" use="required" type="p:actionEnum">
         <annotation>
            <documentation>
               <html:p>The action being taken with this SSL subscription.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="certificateAuthority"
                 use="required"
                 type="p:certificateAuthorityEnum">
         <annotation>
            <documentation>
               <html:p>The Certificate Authority used for this SSL subscription.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="quality" use="required" type="p:qualityEnum">
         <annotation>
            <documentation>
               <html:p>The action being taken.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="sanLicenseCount"
                 use="optional"
                 default="0"
                 type="xsd:int">
         <annotation>
            <documentation>
               <html:p>A count of SAN (subject alternate name) certificate. These are additional licenses on the certificate.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="purchaseTenure" use="required" type="p:purchaseTenureType">
         <annotation>
            <documentation>
               <html:p>Purchase tenure in years.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" unitOfMeasure="COUNT" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="expirationDate" use="required" type="p:UTCDateTime">
         <annotation>
            <documentation>
               <html:p>The date the certificate expires.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="isAutoRenew"
                 use="optional"
                 default="false"
                 type="xsd:boolean">
         <annotation>
            <documentation>
               <html:p>A boolean indicating that a user has selected to auto-renew.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes aggregateFunction="NONE" groupBy="false"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="SSL_SUBSCRIPTION"/>
      </restriction>
   </simpleType>
   <simpleType name="actionEnum">
      <restriction base="xsd:Name">
         <enumeration value="REGISTRATION"/>
         <enumeration value="RENEWAL"/>
         <enumeration value="REVOKE"/>
         <enumeration value="REISSUE"/>
      </restriction>
   </simpleType>
   <simpleType name="certificateAuthorityEnum">
      <restriction base="xsd:Name">
         <enumeration value="SYM"/>
         <enumeration value="TAW"/>
         <enumeration value="GEO"/>
         <enumeration value="RAP"/>
      </restriction>
   </simpleType>
   <simpleType name="qualityEnum">
      <restriction base="xsd:Name">
         <enumeration value="GEO_BID_EV"/>
         <enumeration value="GEO_BID"/>
         <enumeration value="GEO_BID_WC"/>
         <enumeration value="GEO_QCK_PRE"/>
         <enumeration value="GEO_QCK"/>
         <enumeration value="RAP_SSL"/>
         <enumeration value="RAP_WC"/>
         <enumeration value="TAW_SGC"/>
         <enumeration value="TAW_SSL"/>
         <enumeration value="TAW_SSL_EV"/>
         <enumeration value="TAW_SSL_123"/>
         <enumeration value="SYM_PRO_EV"/>
         <enumeration value="SYM_SS_EV"/>
         <enumeration value="SYM_SS_PRO"/>
         <enumeration value="SYM_SS_WC"/>
         <enumeration value="SYM_SS_SSL"/>
      </restriction>
   </simpleType>
   <simpleType name="purchaseTenureType">
      <restriction base="xsd:int">
         <minInclusive value="1"/>
         <maxInclusive value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
      <restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">
         <assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
</xsd:schema>
