generated_product_xsds/support-account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/event/support/account"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/support/account">
   <element name="product" type="p:SupportType"/>
   <complexType name="SupportType">
      <annotation>
         <documentation>
            <html:p>Events for support information on account creation or updates.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE"/>
         </appinfo>
      </annotation>
      <all vc:minVersion="1.1">
         <element name="teams" minOccurs="0" maxOccurs="30">
            <complexType>
               <attribute name="teamType" use="required" type="p:teamTypeEnum">
                  <annotation>
                     <documentation>
                        <html:p>The team type.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="teamNumber" use="required" type="xsd:int">
                  <annotation>
                     <documentation>
                        <html:p>The team number.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </all>
      <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
         <element name="teams" minOccurs="0" maxOccurs="30">
            <complexType>
               <attribute name="teamType" use="required" type="p:teamTypeEnum">
                  <annotation>
                     <documentation>
                        <html:p>The team type.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
               <attribute name="teamNumber" use="required" type="xsd:int">
                  <annotation>
                     <documentation>
                        <html:p>The team number.</html:p>
                     </documentation>
                     <appinfo>
                        <usage:attributes/>
                     </appinfo>
                  </annotation>
               </attribute>
            </complexType>
         </element>
      </sequence>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="Support"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="accountType" use="required" type="p:accountTypeEnum">
         <annotation>
            <documentation>
               <html:p>The account type.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes searchable="true"/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="ACCOUNT_SUPPORT"/>
      </restriction>
   </simpleType>
   <simpleType name="accountTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="CLOUD"/>
         <enumeration value="MANAGED"/>
      </restriction>
   </simpleType>
   <simpleType name="teamTypeEnum">
      <restriction base="xsd:string">
         <enumeration value="SUPPORT"/>
         <enumeration value="REVENUE"/>
      </restriction>
   </simpleType>
</xsd:schema>
