generated_product_xsds/widget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:p="http://docs.rackspace.com/usage/widget"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/usage/widget">
   <element name="product"
            type="p:Widget3Type"
            vc:minVersion="1.0"
            vc:maxVersion="1.1">
      <annotation>
         <documentation>
            <html:p>
                        Alternates are not supported by XSD 1.0.  So
                        in XSD 1.0 we are only supporting a single
                        version (in this case version 3).
                    </html:p>
            <html:p>
                        To support other versions you may redefine the
                        product element to any of the following types:
                    </html:p>
            <html:ol>
               <html:li>p:Widget1Type</html:li>
               <html:li>p:Widget2Type</html:li>
               <html:li>p:Widget3Type</html:li>
            </html:ol>
         </documentation>
      </annotation>
   </element>
   <element name="product" vc:minVersion="1.1" type="p:BaseWidgetType">
      <alternative test="@version eq '1'" type="p:Widget1Type"/>
      <alternative test="@version eq '2'" type="p:Widget2Type"/>
      <alternative test="@version eq '3'" type="p:Widget3Type"/>
      <alternative type="p:BaseWidgetTypeError"/>
   </element>
   <complexType name="BaseWidgetType">
      <attribute name="version" type="xsd:string" use="required"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="Widget"/>
   </complexType>
   <complexType name="BaseWidgetTypeError" vc:minVersion="1.1">
      <complexContent>
         <extension base="p:BaseWidgetType">
            <openContent mode="interleave">
               <any processContents="skip"/>
            </openContent>
            <anyAttribute processContents="skip"/>
            <assert test="false()"
                    xerces:message="For this type of message, only  versions ( 1, 2, 3 ) are supported."
                    saxon:message="For this type of message, only  versions ( 1, 2, 3 ) are supported."/>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="Widget1Type">
      <annotation>
         <documentation>
            <html:p>Widget specific user fields</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseWidgetType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes1"/>
            <attribute name="label" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Human readable name.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="mid" use="required" type="p:UUID">
               <annotation>
                  <documentation>
                     <html:p>An example of an UUID.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="str" use="optional" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>An optional string.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="widget_id_list" use="optional" type="p:widget_id_list1List">
               <annotation>
                  <documentation>
                     <html:p>A list of integers.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="SUM" unitOfMeasure="COUNT" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="same_int" use="optional" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>An integer of some kind. Only the last value is taken into account.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="LAST" unitOfMeasure="COUNT" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="num_checks" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>A single integer.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="disabled"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>A boolean.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes displayName="Disabled" aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="time" use="required" type="p:UTCTime">
               <annotation>
                  <documentation>
                     <html:p>A time in UTC.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="dateTime" use="required" type="p:UTCDateTime">
               <annotation>
                  <documentation>
                     <html:p>A datetime in UTC.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="enumList" use="required" type="p:enumList1List">
               <annotation>
                  <documentation>
                     <html:p>A list of enumertation strings.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes1">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="WIDGET"/>
         <enumeration value="GADGET"/>
      </restriction>
   </simpleType>
   <simpleType name="widget_id_list1List">
      <list itemType="xsd:int"/>
   </simpleType>
   <simpleType name="enumList1List">
      <list itemType="p:enumList1Enum"/>
   </simpleType>
   <simpleType name="enumList1Enum">
      <restriction base="xsd:Name">
         <enumeration value="BEST"/>
         <enumeration value="BETTER"/>
         <enumeration value="WORST"/>
      </restriction>
   </simpleType>
   <complexType name="Widget2Type">
      <annotation>
         <documentation>
            <html:p>Widget specific user fields. Changes from version 1 message: 1. added THINGY resource type 2. Widget ID list is now a list of longs 3. some_int has a max of 22000 4. Added BAD to allowed values in enum list 5. Made str attribute searchable</html:p>
         </documentation>
         <appinfo>
            <usage:core groupByResource="true"
                        ranEnrichmentStrategy="CI_SERVICE"
                        type="USAGE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseWidgetType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes2"/>
            <attribute name="label" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Human readable name.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="mid" use="required" type="p:UUID">
               <annotation>
                  <documentation>
                     <html:p>An example of an UUID.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="str" use="optional" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>An optional string.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false" searchable="true"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="widget_id_list" use="optional" type="p:widget_id_list2List">
               <annotation>
                  <documentation>
                     <html:p>A list of integers.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="SUM" unitOfMeasure="COUNT" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="same_int" use="optional" type="p:same_int2Type">
               <annotation>
                  <documentation>
                     <html:p>An integer of some kind. Only the last value is taken into account.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="LAST" unitOfMeasure="COUNT" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="num_checks" use="required" type="xsd:int">
               <annotation>
                  <documentation>
                     <html:p>A single integer.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="disabled"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>A boolean.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes displayName="Disabled" aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="time" use="required" type="p:UTCTime">
               <annotation>
                  <documentation>
                     <html:p>A time in UTC.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="dateTime" use="required" type="p:UTCDateTime">
               <annotation>
                  <documentation>
                     <html:p>A datetime in UTC.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="enumList" use="required" type="p:enumList2List">
               <annotation>
                  <documentation>
                     <html:p>A list of enumertation strings.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes aggregateFunction="NONE" groupBy="false"/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes2">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="WIDGET"/>
         <enumeration value="GADGET"/>
         <enumeration value="THINGY"/>
      </restriction>
   </simpleType>
   <simpleType name="widget_id_list2List">
      <list itemType="xsd:long"/>
   </simpleType>
   <simpleType name="same_int2Type">
      <restriction base="xsd:int">
         <maxInclusive value="22000"/>
      </restriction>
   </simpleType>
   <simpleType name="enumList2List">
      <list itemType="p:enumList2Enum"/>
   </simpleType>
   <simpleType name="enumList2Enum">
      <restriction base="xsd:Name">
         <enumeration value="BEST"/>
         <enumeration value="BETTER"/>
         <enumeration value="WORST"/>
         <enumeration value="BAD"/>
      </restriction>
   </simpleType>
   <complexType name="Widget3Type">
      <annotation>
         <documentation>
            <html:p>Test changing the message type.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="UPDATE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseWidgetType">
            <all vc:minVersion="1.1">
               <element name="metaData" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="key" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The key</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes searchable="true"/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="value" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The value</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </all>
            <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
               <element name="metaData" minOccurs="0" maxOccurs="5000">
                  <complexType>
                     <attribute name="key" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The key</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes searchable="true"/>
                           </appinfo>
                        </annotation>
                     </attribute>
                     <attribute name="value" use="required" type="p:string">
                        <annotation>
                           <documentation>
                              <html:p>The value</html:p>
                           </documentation>
                           <appinfo>
                              <usage:attributes/>
                           </appinfo>
                        </annotation>
                     </attribute>
                  </complexType>
               </element>
            </sequence>
            <attribute name="resourceType" use="required" type="p:ResourceTypes3"/>
            <attribute name="label" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Human readable name.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes searchable="true"/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="mid" use="required" type="p:UUID">
               <annotation>
                  <documentation>
                     <html:p>An example of an UUID.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes3">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="WIDGET"/>
         <enumeration value="GADGET"/>
         <enumeration value="THINGY"/>
      </restriction>
   </simpleType>
   <simpleType name="UUID">
      <restriction base="xsd:string">
         <length value="36" fixed="true"/>
         <pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
      <restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">
         <assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="UTCTime">
      <restriction base="xsd:time">
         <assertion vc:minVersion="1.1"
                    test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"
                    xerces:message="The time should be in the UTC timezone, it is expect to end in +00:00 or Z."
                    saxon:message="The time should be in the UTC timezone, it is expect to end in +00:00 or Z."/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
