allfeeds.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:cldfeeds="http://docs.rackspace.com/api/cloudfeeds"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <doc title="Feeds Catalog"/>
    <grammars>
        <include href="core_xsd/entry.xsd"/>
        <include href="core_xsd/feedsapi.xsd"/>
    </grammars>
    <resources base="http://localhost">

        <!-- Static paths for administration -->
        <resource id="buildinfo" path="buildinfo"><method name="GET"/></resource>

        <!-- product events -->
        <resource id="automation_events"
                  path="automation/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson wadl/feed.wadl#Validated"/>
        <resource id="autoscale_events"
                  path="autoscale/events"
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="backup_events"
                  path="backup/events"
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackup wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudBackupTenant"/>
        <resource id="bigdata_events"
                  path="bigdata/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#BigDataTenant"/>
        <resource id="billing_events"
                  path="billing/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BillingService"/>
        <resource id="cbs_events"
                  path="cbs/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorage wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudBlockStorageTenant"/>
        <resource id="core_events"
                  path="core/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="customer_events"
                  path="customer/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="dbaas_events"
                  path="dbaas/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabase wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudDatabaseTenant"/>
        <resource id="dedicatedvcloud_events"
                  path="dedicatedvcloud/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#DedicatedVCloud"/>
        <resource id="dns_events"
                  path="dns/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDNS wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudDNSTenant"/>
        <resource id="domain_events"
                  path="domain/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DomainRegistration"/>
        <resource id="ebs_events"
                  path="ebs/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EBS"/>
        <resource id="emailapps_usage_events"
                  path="emailapps_usage/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EmailAppsUsage" />
        <resource id="emailapps_msservice_events"
                  path="emailapps_msservice/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#EmailAppsMSService" />
        <resource id="encore_events"
                  path="encore/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="files_events"
                  path="files/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFiles wadl/feed.wadl#TenantAtomFeed  wadl/product.wadl#CloudFilesTenant"/>
        <resource id="glance_events"
                  path="glance/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Glance wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#GlanceTenant"/>
        <resource id="identity_events"
                  path="identity/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudIdentity wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudIdentityTenant"/>
        <resource id="lbaas_events"
                  path="lbaas/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudLoadBalancersTenant"/>
        <resource id="meta_events"
                  path="meta/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#AtomHopper"/>
        <resource id="monitoring_events"
                  path="monitoring/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#CloudMonitoring wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudMonitoringTenant"/>
        <resource id="netdevice_events"
                  path="netdevice/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#NetDevice"/>
	<resource id="newrelic_events"
                  path="newrelic/events"
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#NewRelic"/>
	<resource id="nova_events"
                  path="nova/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson 
                        wadl/product.wadl#CloudServersOpenStack 
                        wadl/product.wadl#RHEL wadl/feed.wadl#TenantAtomFeed 
                        wadl/product.wadl#CloudServersOpenStackTenant 
                        wadl/product.wadl#RHELTenant"/>
        <resource id="payment_events"
                  path="payment/events"  
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#PaymentService"/>
        <resource id="queues_events"
                  path="queues/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueues wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudQueuesTenant"/>
        <resource id="servers_events"
                  path="servers/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson 
                        wadl/product.wadl#CloudServers 
                        wadl/product.wadl#RHEL 
                        wadl/feed.wadl#TenantAtomFeed 
                        wadl/product.wadl#CloudServersTenant 
                        wadl/product.wadl#RHELTenant"/>
        <resource id="sites_events"
                  path="sites/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSites"/>
        <resource id="signup_events"
                  path="signup/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="ssl_events"
                  path="ssl/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Ssl wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#SslTenant"/>
        <resource id="support_events"
                  path="support/events" 
                  type="wadl/feed.wadl#AtomFeedAllowJson wadl/product.wadl#Support"/>
        <resource id="usagecorrelation_events"
                  path="usagecorrelation/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagedeadletter_events"
                  path="usagedeadletter/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#UsageDeadLetter"/>
        <!-- usagerecovery is validated as BigData & CloudLoadBalancers have synthesized attributes -->
        <resource id="usagerecovery_events"
                  path="usagerecovery/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="usagesummaryrecovery_events"
                  path="usagesummaryrecovery/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        
        <!-- Feeds Catalog -->
        <resource id="feedscatalog"
                  path="feedscatalog/catalog" 
                  type="wadl/feed.wadl#FeedsCatalog"/>
            
        <!-- Test related feeds -->
        <resource id="demo_events"
                  path="demo/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="experiments_events"
                  path="experiments/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="functest1_events"
                  path="functest1/events" 
                  type="wadl/feed.wadl#AtomFeed
                        wadl/product.wadl#AtomHopper wadl/feed.wadl#TenantAtomFeed
                        wadl/product.wadl#BigData wadl/product.wadl#BigDataSummary
                        wadl/product.wadl#BigDataTenant wadl/product.wadl#BigDataSummaryTenant
                        wadl/product.wadl#BillingService
                        wadl/product.wadl#CloudBackup wadl/product.wadl#CloudBackupSummary
                        wadl/product.wadl#CloudBackupTenant wadl/product.wadl#CloudBackupSummaryTenant
                        wadl/product.wadl#CloudBlockStorage wadl/product.wadl#CloudBlockStorageSummary
                        wadl/product.wadl#CloudBlockStorageTenant wadl/product.wadl#CloudBlockStorageSummaryTenant
                        wadl/product.wadl#CloudDatabase wadl/product.wadl#CloudDatabaseSummary
                        wadl/product.wadl#CloudDatabaseTenant wadl/product.wadl#CloudDatabaseSummaryTenant
                        wadl/product.wadl#CloudDNS
                        wadl/product.wadl#CloudDNSTenant
                        wadl/product.wadl#CloudFiles wadl/product.wadl#CloudFilesSummary
                        wadl/product.wadl#CloudFilesTenant wadl/product.wadl#CloudFilesSummaryTenant
                        wadl/product.wadl#CloudIdentity
                        wadl/product.wadl#CloudIdentityTenant
                        wadl/product.wadl#CloudLoadBalancers wadl/product.wadl#CloudLoadBalancersSummary
                        wadl/product.wadl#CloudLoadBalancersTenant wadl/product.wadl#CloudLoadBalancersSummaryTenant
                        wadl/product.wadl#CloudMonitoring wadl/product.wadl#CloudMonitoringSummary
                        wadl/product.wadl#CloudMonitoringTenant wadl/product.wadl#CloudMonitoringSummaryTenant
                        wadl/product.wadl#CloudQueues wadl/product.wadl#CloudQueuesSummary
                        wadl/product.wadl#CloudQueuesTenant wadl/product.wadl#CloudQueuesSummaryTenant
                        wadl/product.wadl#CloudServers wadl/product.wadl#CloudServersSummary
                        wadl/product.wadl#CloudServersTenant wadl/product.wadl#CloudServersSummaryTenant
                        wadl/product.wadl#CloudServersOpenStack wadl/product.wadl#CloudServersOpenStackSummary
                        wadl/product.wadl#CloudServersOpenStackTenant wadl/product.wadl#CloudServersOpenStackSummaryTenant
                        wadl/product.wadl#CloudSites wadl/product.wadl#CloudSitesSummary
                        wadl/product.wadl#DedicatedVCloud wadl/product.wadl#DedicatedVCloudSummary
                        wadl/product.wadl#DomainRegistration
                        wadl/product.wadl#EBS wadl/product.wadl#EmailAppsMSService
                        wadl/product.wadl#EmailAppsUsage
                        wadl/product.wadl#Glance wadl/product.wadl#GlanceSummary
                        wadl/product.wadl#GlanceTenant wadl/product.wadl#GlanceSummaryTenant
                        wadl/product.wadl#NetDevice
                        wadl/product.wadl#NewRelic
                        wadl/product.wadl#PaymentService
                        wadl/product.wadl#RHEL
                        wadl/product.wadl#RHELTenant
                        wadl/product.wadl#Ssl
                        wadl/product.wadl#SslTenant
                        wadl/product.wadl#Support
                        wadl/feed.wadl#UsageDeadLetter
                        wadl/product.wadl#Widget wadl/product.wadl#WidgetSummary"/>
            <resource id="functest2_events"
                  path="functest2/events" 
                  type="wadl/feed.wadl#AtomFeed 
                        wadl/feed.wadl#Validated
                        wadl/feed.wadl#TenantAtomFeed
                        wadl/product.wadl#BigDataTenant wadl/product.wadl#BigDataSummaryTenant
                        wadl/product.wadl#CloudBackupTenant wadl/product.wadl#CloudBackupSummaryTenant
                        wadl/product.wadl#CloudBlockStorage wadl/product.wadl#CloudBlockStorageSummaryTenant
                        wadl/product.wadl#CloudDatabaseTenant wadl/product.wadl#CloudDatabaseSummaryTenant
                        wadl/product.wadl#CloudDNSTenant
                        wadl/product.wadl#CloudFilesTenant wadl/product.wadl#CloudFilesSummaryTenant
                        wadl/product.wadl#CloudIdentityTenant
                        wadl/product.wadl#CloudLoadBalancersTenant wadl/product.wadl#CloudLoadBalancersSummaryTenant
                        wadl/product.wadl#CloudMonitoringTenant wadl/product.wadl#CloudMonitoringSummaryTenant
                        wadl/product.wadl#CloudQueuesTenant wadl/product.wadl#CloudQueuesSummaryTenant
                        wadl/product.wadl#CloudServersTenant wadl/product.wadl#CloudServersSummaryTenant
                        wadl/product.wadl#CloudServersOpenStackTenant wadl/product.wadl#CloudServersOpenStackSummaryTenant
                        wadl/product.wadl#GlanceTenant wadl/product.wadl#GlanceSummaryTenant
                        wadl/product.wadl#RHELTenant
                        wadl/product.wadl#SslTenant"/>
        <resource id="migrationtest_events"
                  path="migrationtest/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="nooverridestest_events"
                  path="nooverridestest/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="overridestest_events"
                  path="overridestest/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="perftest1_events"
                  path="perftest1/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="perftest2_events"
                  path="perftest2/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>

        <resource id="usagetest7_events"
                  path="usagetest7/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="usagetest8_events"
                  path="usagetest8/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="usagetest9_events"
                  path="usagetest9/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>
        <resource id="usagetest10_events"
                  path="usagetest10/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>
        <resource id="usagetest11_events"
              path="usagetest11/events" 
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData wadl/product.wadl#CloudLoadBalancers wadl/feed.wadl#Validated"/>

        <resource id="widgettest_events"
                      path="widgettest/events"
                  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Widget"/>

        <resource id="usagetest_events"
                  path="{usagetestid}/events"
                  type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated">
            <param name="usagetestid" style="template" type="cldfeeds:usagetestPathType"/>
         </resource>

        <!-- end of Test related feeds -->

        <!-- Summary Feeds -->
        <resource path="/usagesummary/">
            <resource id="backup_usagesummary_events"
                      path="backup/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackupSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudBackupSummaryTenant"/>
            <resource id="bigdata_usagesummary_events"
                      path="bigdata/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigDataSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#BigDataSummaryTenant"/>
            <resource id="cbs_usagesummary_events"
                      path="cbs/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorageSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudBlockStorageSummaryTenant"/>
            <resource id="dbaas_usagesummary_events"
                      path="dbaas/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabaseSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudDatabaseSummaryTenant"/>
            <resource id="dedicatedvcloud_usagesummary_events"
                      path="dedicatedvcloud/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DedicatedVCloudSummary"/>
            <resource id="files_usagesummary_events"
                      path="files/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFilesSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudFilesSummaryTenant"/>
            <resource id="glance_usagesummary_events"
                      path="glance/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#GlanceSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#GlanceSummaryTenant"/>
            <resource id="lbaas_usagesummary_events"
                      path="lbaas/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancersSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudLoadBalancersSummaryTenant"/>
            <resource id="monitoring_usagesummary_events"
                      path="monitoring/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudMonitoringSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudMonitoringSummaryTenant"/>
            <resource id="nova_usagesummary_events"
                      path="nova/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersOpenStackSummary wadl/product.wadl#RHELSummary
                            wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudServersOpenStackSummaryTenant wadl/product.wadl#RHELSummaryTenant"/>
            <resource id="queues_usagesummary_events"
                      path="queues/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueuesSummary wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudQueuesSummaryTenant"/>
            <resource id="servers_usagesummary_events"
                      path="servers/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersSummary wadl/product.wadl#RHELSummary
                            wadl/feed.wadl#TenantAtomFeed wadl/product.wadl#CloudServersSummaryTenant wadl/product.wadl#RHELSummaryTenant"/>
            <resource id="sites_usagesummary_events"
                      path="sites/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSitesSummary"/>
            <resource id="ssl_usagesummary_events"
                      path="ssl/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#SslSummary"/>
            <resource id="widgettest_usagesummary_events"
                      path="widgettest/events"
                      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#WidgetSummary"/>
        </resource>
    </resources>
</application>
