atom_hopper.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource id="buildinfo" path="buildinfo"><method name="GET"/></resource>
        <resource id="logtest" path="logtest"><method name="GET"/></resource>
        <resource id="evict-me" path="evict-me"><method name="GET"/></resource>
        
        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource id="accountstatus_events" path="accountstatus/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="cbs_events" path="cbs/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorage"/>
        <resource id="dns_events" path="dns/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDNS "/>
        <resource id="files_events" path="files/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFiles"/>
        <resource id="sites_events" path="sites/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSites"/>
        <resource id="domain_events" path="domain/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DomainRegistration"/>
        <resource id="dbaas_events" path="dbaas/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabase"/>
        <resource id="glance_events" path="glance/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Glance"/>
        <resource id="lbaas_events" path="lbaas/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancers"/>
        <resource id="servers_events" path="servers/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServers wadl/product.wadl#RHEL"/>
        <resource id="monitoring_events" path="monitoring/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudMonitoring"/>
        <resource id="nova_events" path="nova/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersOpenStack wadl/product.wadl#RHEL"/>
        <resource id="bigdata_events" path="bigdata/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData"/>
        <resource id="backup_events" path="backup/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackup"/>
        <resource id="autoscale_events" path="autoscale/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="dedicated_events" path="dedicated/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="queues_events" path="queues/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueues"/>
        <resource id="netdevice_events" path="netdevice/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="meta_events" path="meta/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#AtomHopper"/>
        <resource id="usagerecovery_events" path="usagerecovery/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagedeadletter_events" path="usagedeadletter/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        
        <!-- Test related feeds -->
        <resource id="demo_events" path="demo/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="experiments_events" path="experiments/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="functest1_events" path="functest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="functest2_events" path="functest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="perftest1_events" path="perftest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="perftest2_events" path="perftest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest1_events" path="usagetest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest2_events" path="usagetest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest3_events" path="usagetest3/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest4_events" path="usagetest4/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest5_events" path="usagetest5/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest6_events" path="usagetest6/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Widget"/>
        <resource id="usagetest7_events" path="usagetest7/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="usagetest8_events" path="usagetest8/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource id="usagetest9_events" path="usagetest9/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest10_events" path="usagetest10/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest11_events" path="usagetest11/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource id="usagetest12_events" path="usagetest12/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <!-- end of Test related feeds -->
    </resources>
</application>
