atom_hopper.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:db="http://docbook.org/ns/docbook"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:event="http://docs.rackspace.com/core/event"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:atom="http://www.w3.org/2005/Atom"
    >
    <grammars>
        <include href="core_xsd/entry.xsd"></include>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET" /></resource>
        <resource path="logtest"><method name="GET" /></resource>
        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="accountstatus/events" type="#AtomFeed #Unvalidated"/>
        <resource path="cbs/events" type="#AtomFeed product.wadl#CloudBlockStorage"/>
        <resource path="files/events" type="#AtomFeed product.wadl#CloudFiles"/>
        <resource path="dbaas/events" type="#AtomFeed product.wadl#CloudDatabase"/>
        <resource path="glance/events" type="#AtomFeed #Unvalidated"/>
        <resource path="lbaas/events" type="#AtomFeed product.wadl#CloudLoadBalancers"/>
        <resource path="servers/events" type="#AtomFeed #Unvalidated"/>
        <resource path="melange/events" type="#AtomFeed #Unvalidated"/>
        <resource path="monitoring/events" type="#AtomFeed product.wadl#CloudMonitoring"/>
        <resource path="nova/events" type="#AtomFeed #Unvalidated"/>
        <resource path="quantum/events" type="#AtomFeed #Unvalidated"/>
        <resource path="demo/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest1/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest2/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest3/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest4/events" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/deleted" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/disabled" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/migrated/CloudAuth" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/migrated/CloudSitesLDAP" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/revoked" type="#AtomFeed #Unvalidated"/>
        <resource path="nimbus/events" type="#AtomFeed #Unvalidated"/>
        <resource path="backup/events" type="#AtomFeed #Unvalidated"/>
    </resources>

    <!-- Resource Types -->
    <resource_type id="AtomFeed">
        <method href="#getFeed"/>
        <resource path="entries/{id}">
            <param name="id" type="xs:anyURI" style="template"/>
            <method href="#getEntry"/>
        </resource>
    </resource_type>

    <resource_type id="Unvalidated">
        <doc title="Unvalidated">
            <db:para>
                Leaving these descriptions fairly loose as these
                feeds are currently not validated against.
            </db:para>
        </doc>
        <method href="#addPlainEntry"/>
    </resource_type>

    <!-- METHODS -->
    <method id="getFeed" name="GET">
        <request>
            <param name="marker" style="query" type="xs:anyURI" required="false"/>
            <param name="limit"  style="query" type="xs:int" required="false"/>
            <param name="direction" style="query" type="xs:string" required="false"/>
        </request>
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="getEntry" name="GET">
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="addPlainEntry" name="POST">
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/atom+xml"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>
</application>
