atom_hopper_observer.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <resource path="evict-me"><method name="GET"/></resource>

        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="automation/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="autoscale/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="backup/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="bigdata/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="cbs/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="core/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dedicatedvcloud/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dns/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="domain/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="emailapps_usage/events" type="wadl/feed.wadl#TenantAtomFeed" />
        <resource path="emailapps_msservice/events" type="wadl/feed.wadl#TenantAtomFeed" />
        <resource path="files/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="glance/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="identity/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="lbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="meta/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="monitoring/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="netdevice/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="nova/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="queues/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="servers/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="sites/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="ssl/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="support/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="usagedeadletter/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="usagerecovery/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <!-- Test related feeds -->
        <resource id="functest1_events" path="functest1/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="functest2_events" path="functest2/events" type="wadl/feed.wadl#TenantAtomFeed"/>

        <!-- Summary Feeds -->
        <resource path="summary">
            <resource id="bigdata_summary_events"     path="bigdata/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigDataSummary"/>
            <resource id="cbs_summary_events"         path="cbs/events"     type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorageSummary"/>
            <resource id="queues_summary_events"      path="queues/events"  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudQueuesSummary"/>
            <resource id="backup_summary_events"      path="backup/events"  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackupSummary"/>
            <resource id="files_summary_events"       path="files/events"   type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFilesSummary"/>
            <resource id="dbaas_summary_events"       path="dbaas/events"   type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabaseSummary"/>
            <resource id="dedicatedvcloud_sum_events" path="dedicatedvcloud/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DedicatedVCloudSummary"/>
            <resource id="glance_summary_events"      path="glance/events"  type="wadl/feed.wadl#AtomFeed wadl/product.wadl#GlanceSummary"/>
            <resource id="lbaas_summary_events"       path="lbaas/events"   type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancersSummary"/>
            <resource id="monitoring_summary_events"  path="monitoring/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudMonitoringSummary"/>
            <resource id="nova_summary_events"        path="nova/events"    type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersOpenStackSummary wadl/product.wadl#RHELSummary"/>
            <resource id="servers_summary_events"     path="servers/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersSummary wadl/product.wadl#RHELSummary"/>
            <resource id="sites_summary_events"       path="sites/events"      type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSitesSummary"/>
            <resource id="usagetest6_summary_events"  path="usagetest6/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#WidgetSummary"/>
        </resource>

    </resources>
</application>
