atom_hopper.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="accountstatus/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="cbs/events" type="feed.wadl#AtomFeed product.wadl#CloudBlockStorage"/>
        <resource path="files/events" type="feed.wadl#AtomFeed product.wadl#CloudFiles"/>
        <resource path="dbaas/events" type="feed.wadl#AtomFeed product.wadl#CloudDatabase"/>
        <resource path="glance/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="lbaas/events" type="feed.wadl#AtomFeed product.wadl#CloudLoadBalancers"/>
        <resource path="servers/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="melange/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="monitoring/events" type="feed.wadl#AtomFeed product.wadl#CloudMonitoring"/>
        <resource path="nova/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="quantum/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="demo/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="usagetest1/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="usagetest2/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="usagetest3/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="usagetest4/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="identity/users/deleted" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="identity/users/disabled" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="identity/users/migrated/CloudAuth" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="identity/users/migrated/CloudSitesLDAP" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="identity/users/revoked" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="nimbus/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
        <resource path="backup/events" type="feed.wadl#AtomFeed feed.wadl#Unvalidated"/>
    </resources>
</application>
