atom_hopper_identity.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <resource path="identity/users/migrated/CloudAuth" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudIdentity"/>
        <resource path="identity/users/migrated/CloudSitesLDAP" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudIdentity"/>
        <resource path="identity/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudIdentity"/>
    </resources>
</application>
