atom_hopper_observer.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <doc title="Feeds Catalog"/>
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <resource path="evict-me"><method name="GET"/></resource>
        <resource id="feedscatalog" path="feedscatalog/catalog" type="wadl/feed.wadl#TenantFeedsCatalog"/>

        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource id="automation_events"          path="automation/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="autoscale_events"           path="autoscale/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="backup_events"              path="backup/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="bigdata_events"             path="bigdata/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="cbs_events"                 path="cbs/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="core_events"                path="core/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="dbaas_events"               path="dbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="dedicatedvcloud_events"     path="dedicatedvcloud/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="dns_events"                 path="dns/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="domain_events"              path="domain/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="emailapps_usage_events"     path="emailapps_usage/events" type="wadl/feed.wadl#TenantAtomFeed" />
        <resource id="emailapps_msservice_events" path="emailapps_msservice/events" type="wadl/feed.wadl#TenantAtomFeed" />
        <resource id="files_events"               path="files/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="glance_events"              path="glance/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="identity_events"            path="identity/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="lbaas_events"               path="lbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="meta_events"                path="meta/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="monitoring_events"          path="monitoring/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="netdevice_events"           path="netdevice/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="nova_events"                path="nova/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="queues_events"              path="queues/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="servers_events"             path="servers/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="sites_events"               path="sites/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="ssl_events"                 path="ssl/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="support_events"             path="support/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="usagedeadletter_events"     path="usagedeadletter/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="usagerecovery_events"       path="usagerecovery/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <!-- Test related feeds -->
        <resource id="functest1_events" path="functest1/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="functest2_events" path="functest2/events" type="wadl/feed.wadl#TenantAtomFeed"/>

        <!-- Summary Feeds -->
        <resource path="usagesummary">
            <resource id="backup_usagesummary_events"      path="backup/events"  type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="bigdata_usagesummary_events"     path="bigdata/events" type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="cbs_usagesummary_events"         path="cbs/events"     type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="dbaas_usagesummary_events"       path="dbaas/events"   type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="dedicatedvcloud_sum_events"      path="dedicatedvcloud/events" type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="files_usagesummary_events"       path="files/events"   type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="glance_usagesummary_events"      path="glance/events"  type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="lbaas_usagesummary_events"       path="lbaas/events"   type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="monitoring_usagesummary_events"  path="monitoring/events" type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="nova_usagesummary_events"        path="nova/events"    type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="queues_usagesummary_events"      path="queues/events"  type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="servers_usagesummary_events"     path="servers/events" type="wadl/feed.wadl#TenantAtomFeed"/>
            <resource id="sites_usagesummary_events"       path="sites/events"      type="wadl/feed.wadl#TenantAtomFeed"/>
        </resource>

    </resources>
</application>
