atom_hopper.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <resource path="evict-me"><method name="GET"/></resource>
        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="accountstatus/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="cbs/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBlockStorage"/>
        <resource path="dns/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDNS"/>
        <resource path="files/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudFiles"/>
        <resource path="sites/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudSites"/>
        <resource path="domain/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#DomainRegistration"/>
        <resource path="dbaas/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudDatabase"/>
        <resource path="glance/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Glance"/>
        <resource path="lbaas/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudLoadBalancers"/>
        <resource path="servers/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServers wadl/product.wadl#RHEL"/>
        <resource path="monitoring/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudMonitoring"/>
        <resource path="nova/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudServersOpenStack wadl/product.wadl#RHEL"/>
        <resource path="bigdata/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#BigData"/>
        <!-- Test related feeds -->
        <resource path="demo/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="functest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="functest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="perftest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="perftest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest1/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest2/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest3/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest4/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest5/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest6/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#Widget"/>
        <resource path="usagetest7/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="usagetest8/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="usagetest9/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest10/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest11/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <resource path="usagetest12/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Validated"/>
        <!-- end of Test related feeds -->
        <resource path="nimbus/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="backup/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#CloudBackup"/>
        <resource path="meta/events" type="wadl/feed.wadl#AtomFeed wadl/product.wadl#AtomHopper"/>
        <resource path="autoscale/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
        <resource path="dedicated/events" type="wadl/feed.wadl#AtomFeed wadl/feed.wadl#Unvalidated"/>
    </resources>
</application>
