atom_hopper_observer.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <resource path="evict-me"><method name="GET"/></resource>

        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="accountstatus/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="cbs/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="dns/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="files/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="sites/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="domain/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="dbaas/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="emailapps/events" type="wadl/feed.wadl#AtomFeed" />
        <resource path="glance/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="lbaas/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="servers/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="monitoring/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="nova/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="bigdata/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="backup/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="autoscale/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="dedicated/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="queues/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="netdevice/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="usagerecovery/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="usagedeadletter/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="usagesummary/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="core/events" type="wadl/feed.wadl#AtomFeed"/>
        <resource path="meta/events" type="wadl/feed.wadl#AtomFeed"/>
    </resources>
</application>
