atom_hopper_observer.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="core_xsd/entry.xsd"/>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET"/></resource>
        <resource path="logtest"><method name="GET"/></resource>
        <resource path="evict-me"><method name="GET"/></resource>

        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="automation/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="autoscale/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="backup/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="bigdata/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="cbs/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="core/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dedicatedvcloud/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="dns/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="domain/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="emailapps/events" type="wadl/feed.wadl#TenantAtomFeed" />
        <resource path="emailapps_msservice/events" type="wadl/feed.wadl#TenatAtomFeed" />
        <resource path="files/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="glance/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="identity/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="lbaas/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="meta/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="monitoring/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="netdevice/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="nova/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="queues/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="servers/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="sites/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="ssl/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="support/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="usagedeadletter/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="usagerecovery/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource path="usagesummary/events" type="wadl/feed.wadl#TenantAtomFeed"/>

        <!-- Test related feeds -->
        <resource id="functest1_events" path="functest1/events" type="wadl/feed.wadl#TenantAtomFeed"/>
        <resource id="functest2_events" path="functest2/events" type="wadl/feed.wadl#TenantAtomFeed"/>
    </resources>
</application>
