atom_hopper.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:db="http://docbook.org/ns/docbook"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:event="http://docs.rackspace.com/core/event"
             xmlns:dbaas="http://docs.rackspace.com/usage/dbaas"
             xmlns:maas="http://docs.rackspace.com/usage/maas"
             xmlns:lbaas="http://docs.rackspace.com/usage/lbaas"
             xmlns:lbaas-account="http://docs.rackspace.com/usage/lbaas/account"
             xmlns:cbs="http://docs.rackspace.com/usage/cbs"
             xmlns:cbs-snap="http://docs.rackspace.com/usage/cbs/snapshot"
             xmlns:cf-b="http://docs.rackspace.com/usage/cloudfiles/bandwidth"
             xmlns:cf-cdn="http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth"
             xmlns:cf-str="http://docs.rackspace.com/usage/cloudfiles/storage"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:atom="http://www.w3.org/2005/Atom"
    >
    <grammars>
        <include href="core_xsd/entry.xsd"></include>
    </grammars>
    <resources base="http://localhost/">
        <!-- Static paths for administration -->
        <resource path="buildinfo"><method name="GET" /></resource>
        <resource path="logtest"><method name="GET" /></resource>
        <!-- Dynamic paths for configured feeds generated by puppet -->
        <resource path="accountstatus/events" type="#AtomFeed #Unvalidated"/>
        <resource path="cbs/events" type="#AtomFeed #Cbs"/>
        <resource path="files/events" type="#AtomFeed #Files"/>
        <resource path="dbaas/events" type="#AtomFeed #DbaaS"/>
        <resource path="glance/events" type="#AtomFeed #Unvalidated"/>
        <resource path="lbaas/events" type="#AtomFeed #LbaaS"/>
        <resource path="servers/events" type="#AtomFeed #Unvalidated"/>
        <resource path="melange/events" type="#AtomFeed #Unvalidated"/>
        <resource path="monitoring/events" type="#AtomFeed #Monitoring"/>
        <resource path="nova/events" type="#AtomFeed #Unvalidated"/>
        <resource path="quantum/events" type="#AtomFeed #Unvalidated"/>
        <resource path="demo/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest1/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest2/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest3/events" type="#AtomFeed #Unvalidated"/>
        <resource path="usagetest4/events" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/deleted" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/disabled" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/migrated/CloudAuth" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/migrated/CloudSitesLDAP" type="#AtomFeed #Unvalidated"/>
        <resource path="identity/users/revoked" type="#AtomFeed #Unvalidated"/>
        <resource path="nimbus/events" type="#AtomFeed #Unvalidated"/>
        <resource path="backup/events" type="#AtomFeed #Unvalidated"/>
    </resources>

    <!-- Resource Types -->
    <resource_type id="AtomFeed">
        <method href="#getFeed"/>
        <resource path="entries/{id}">
            <param name="id" type="xs:anyURI" style="template"/>
            <method href="#getEntry"/>
        </resource>
    </resource_type>

    <resource_type id="Unvalidated">
        <doc title="Unvalidated">
            <db:para>
                Leaving these descriptions fairly loose as these
                feeds are currently not validated against.
            </db:para>
        </doc>
        <method href="#addPlainEntry"/>
    </resource_type>

    <resource_type id="Monitoring">
        <method id="addMonitoringEntry" name="POST">
            <request>
               <representation mediaType="application/atom+xml" element="atom:entry">
                   <param name="maas" style="plain" path="/atom:entry/atom:content/event:event/maas:product" required="false"/>
                   <rax:preprocess href="atom_hopper_pre.xsl"/>
               </representation>
            </request>
            <!-- Okay -->
            <response status="201">
                <representation mediaType="application/atom+xml"/>
            </response>
            <!-- On Error -->
            <response status="400 401 409 500 503">
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="DbaaS">
        <method id="addDBaaSEntry" name="POST">
            <request>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="dbaas" style="plain" path="/atom:entry/atom:content/event:event/dbaas:product" required="false"/>
                   <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
            </request>
            <!-- Okay -->
            <response status="201">
                <representation mediaType="application/atom+xml"/>
            </response>
            <!-- On Error -->
            <response status="400 401 409 500 503">
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="LbaaS">
        <method id="addLbaaSEntry" name="POST">
            <request>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="lb" style="plain" path="/atom:entry/atom:content/event:event/lbaas:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="lba" style="plain" path="/atom:entry/atom:content/event:event/lbaas-account:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
            </request>
            <!-- Okay -->
            <response status="201">
                <representation mediaType="application/atom+xml"/>
            </response>
            <!-- On Error -->
            <response status="400 401 409 500 503">
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="Cbs">
        <method id="addCbsEntry" name="POST">
            <request>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="cbs" style="plain" path="/atom:entry/atom:content/event:event/cbs:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="cbss" style="plain" path="/atom:entry/atom:content/event:event/cbs-snap:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
            </request>
            <!-- Okay -->
            <response status="201">
                <representation mediaType="application/atom+xml"/>
            </response>
            <!-- On Error -->
            <response status="400 401 409 500 503">
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource_type>

    <resource_type id="Files">
        <method id="addFilesEntry" name="POST">
            <request>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="cfb" style="plain" path="/atom:entry/atom:content/event:event/cf-b:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="cfcdn" style="plain" path="/atom:entry/atom:content/event:event/cf-cdn:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
                <representation mediaType="application/atom+xml" element="atom:entry">
                    <param name="cfstr" style="plain" path="/atom:entry/atom:content/event:event/cf-str:product" required="false"/>
                    <rax:preprocess href="atom_hopper_pre.xsl"/>
                </representation>
            </request>
            <!-- Okay -->
            <response status="201">
                <representation mediaType="application/atom+xml"/>
            </response>
            <!-- On Error -->
            <response status="400 401 409 500 503">
                <representation mediaType="application/xml"/>
            </response>
        </method>
    </resource_type>

    <!-- METHODS -->

    <method id="getFeed" name="GET">
        <request>
            <param name="marker" style="query" type="xs:anyURI" required="false"/>
            <param name="limit"  style="query" type="xs:int" required="false"/>
            <param name="direction" style="query" type="xs:string" required="false"/>
        </request>
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="getEntry" name="GET">
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="addPlainEntry" name="POST">
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/atom+xml"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>
</application>
