wadl/feed.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:db="http://docbook.org/ns/docbook"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:atom="http://www.w3.org/2005/Atom"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <!-- Resource Types -->
    <resource_type id="AtomFeed">
        <method href="#getFeed"/>
        <resource path="entries/{id}">
            <param name="id" type="xs:anyURI" style="template"> <doc>urn:uuid:676f3860-447c-40a3-8f61-9791819cc82f</doc></param>
            <method href="#getEntry"/>
        </resource>
    </resource_type>

    <resource_type id="Unvalidated">
        <wadl:doc title="Unvalidated" xmlns="http://docbook.org/ns/docbook">
            <para>
                Leaving these descriptions fairly loose as these
                feeds are currently not validated against.
            </para>
        </wadl:doc>
        <method href="#addPlainUnvalidatedEntry"/>
    </resource_type>

    <resource_type id="Validated">
        <wadl:doc title="Validated" xmlns="http//docbook.org/ns/dockbook">
            <para>
                Check against XSDs but don't check against cross
                posts.
            </para>
        </wadl:doc>
        <method href="#addPlainEntry"/>
    </resource_type>

    <!-- METHODS -->
    <method id="getFeed" name="GET">
        <wadl:doc xml:lang="EN" title="Get Events for Products" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets events for this product's feed.</para>            
        </wadl:doc>
        <request>
            <param name="marker" style="query" type="xs:anyURI" required="false"/>
            <param name="limit"  style="query" type="xs:int" required="false"/>
            <param name="direction" style="query" type="xs:string" required="false"/>
        </request>
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="getEntry" name="GET">
        <wadl:doc xml:lang="EN" title="Get Event ID" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">This http request fetches one particular event whose ID is listed in the URI.</para>
            
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="addPlainUnvalidatedEntry" name="POST">
        <wadl:doc xml:lang="EN" title="Add Plain Unvalidated Entry." xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adding an event for this particular product.</para> 
            <para>See the Appendix for
                details and message examples that can be sent with the
                post request.</para>
        </wadl:doc>
        <request rax:ignoreXSD="true">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/atom+xml"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="addPlainEntry" name="POST">
        <wadl:doc xml:lang="EN" title="Add Plain Entry" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adding an event for this particular product.</para>
            <para>See the Appendix for
                details and message examples that can be sent with the
                post request.</para>
            
        </wadl:doc>
        <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
        </request>
        <!-- Okay -->
        <response status="201">
            <representation mediaType="application/atom+xml"/>
        </response>
        <!-- On Error -->
        <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
        </response>
    </method>
</application>
