wadl/product.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    THIS WADL IS AUTOGENERATED DO NOT EDIT
    GENERATED ON: 2013-10-07T12:34:57.422-05:00
    PRODUCT SCHEMAS:
           ahop-count.xml
           bigdata.xml
           cbs-snapshot.xml
           cbs.xml
           cloudbackupBandwidthIn.xml
           cloudbackupBandwidthOut.xml
           cloudbackupLicense.xml
           cloudbackupStorage.xml
           clouddns.xml
           cloudfilesBandwidthUsage.xml
           cloudfilesCDNUsage.xml
           cloudfilesStorageUsage.xml
           cloudQueuesBandwidth.xml
           dbaas.xml
           domain-registration.xml
           glance.xml
           identity-token.xml
           identity.xml
           lbaas-delete.xml
           lbaas.xml
           maas.xml
           nova-ip.xml
           nova-updown.xml
           nova.xml
           redhat.xml
           servers-bandwidth.xml
           servers-heartbeart.xml
           servers-image-action.xml
           servers-ip.xml
           servers-slice-action.xml
           servers-slice.xml
           servers.xml
           sites-db.xml
           sites-email.xml
           sites-meter.xml
           sites-netapp.xml
           sites-ssl.xml
           sites-subscription.xml
           widget-with-explicit-aggreation-period.xml
           widget-with-mulitple-aggregation-periods.xml
           widget.xml
           widget3.xml
-->
<application xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
             xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns:event="http://docs.rackspace.com/core/event"
             xmlns:atom="http://www.w3.org/2005/Atom"
             xmlns:novaHost="http://docs.rackspace.com/event/nova/host"
             xmlns:identityUser="http://docs.rackspace.com/event/identity/user"
             xmlns:w_ns1="http://docs.rackspace.com/event/atom-hopper/feedcount"
             xmlns:w_ns2="http://docs.rackspace.com/usage/bigdata"
             xmlns:w_ns3="http://docs.rackspace.com/usage/cbs/snapshot"
             xmlns:w_ns4="http://docs.rackspace.com/usage/cbs"
             xmlns:w_ns5="http://docs.rackspace.com/usage/queues/bandwidth"
             xmlns:w_ns6="http://docs.rackspace.com/usage/cloudbackup/bandwidthIn"
             xmlns:w_ns7="http://docs.rackspace.com/usage/cloudbackup/bandwidthOut"
             xmlns:w_ns8="http://docs.rackspace.com/usage/cloudbackup/license"
             xmlns:w_ns9="http://docs.rackspace.com/usage/cloudbackup/storage"
             xmlns:w_ns10="http://docs.rackspace.com/event/clouddns"
             xmlns:w_ns11="http://docs.rackspace.com/usage/cloudfiles/bandwidth"
             xmlns:w_ns12="http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth"
             xmlns:w_ns13="http://docs.rackspace.com/usage/cloudfiles/storage"
             xmlns:w_ns14="http://docs.rackspace.com/usage/dbaas"
             xmlns:w_ns15="http://docs.rackspace.com/event/domain"
             xmlns:w_ns16="http://docs.rackspace.com/usage/glance"
             xmlns:w_ns17="http://docs.rackspace.com/event/identity/token"
             xmlns:w_ns18="http://docs.rackspace.com/event/identity/user"
             xmlns:w_ns19="http://docs.rackspace.com/event/lbaas/delete"
             xmlns:w_ns20="http://docs.rackspace.com/usage/lbaas"
             xmlns:w_ns21="http://docs.rackspace.com/usage/maas"
             xmlns:w_ns22="http://docs.rackspace.com/usage/nova/ip"
             xmlns:w_ns23="http://docs.rackspace.com/event/nova/host"
             xmlns:w_ns24="http://docs.rackspace.com/event/nova"
             xmlns:w_ns25="http://docs.rackspace.com/event/RHEL"
             xmlns:w_ns26="http://docs.rackspace.com/event/servers/bandwidth"
             xmlns:w_ns27="http://docs.rackspace.com/event/servers/heartbeat"
             xmlns:w_ns28="http://docs.rackspace.com/event/servers/image"
             xmlns:w_ns29="http://docs.rackspace.com/usage/servers/ip"
             xmlns:w_ns30="http://docs.rackspace.com/event/servers/slice"
             xmlns:w_ns31="http://docs.rackspace.com/event/servers"
             xmlns:w_ns32="http://docs.rackspace.com/event/servers/hostserver"
             xmlns:w_ns33="http://docs.rackspace.com/usage/sites/db"
             xmlns:w_ns34="http://docs.rackspace.com/usage/sites/email"
             xmlns:w_ns35="http://docs.rackspace.com/usage/sites/metered"
             xmlns:w_ns36="http://docs.rackspace.com/usage/sites/netapp"
             xmlns:w_ns37="http://docs.rackspace.com/usage/sites/ssl"
             xmlns:w_ns38="http://docs.rackspace.com/usage/sites/subscription"
             xmlns:w_ns39="http://docs.rackspace.com/usage/widget/explicit"
             xmlns:w_ns40="http://docs.rackspace.com/usage/widget/multiple"
             xmlns:w_ns41="http://docs.rackspace.com/usage/widget">
   <resource_type id="AtomHopper">
      <method id="addAtomHopperEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="update"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UPDATE']) then (/atom:entry/atom:content/event:event[@type='UPDATE']/w_ns1:product[@version = '1']) else true()"
                      rax:message="Only update messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/atom-hopper/feedcount version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','CREATE','USAGE_SNAPSHOT','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="BigData">
      <method id="addBigDataEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns2:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/bigdata version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudBlockStorage">
      <method id="addCloudBlockStorageEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns3:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns4:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/cbs/snapshot version(s) ('1'), http://docs.rackspace.com/usage/cbs version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudQueues">
      <method id="addCloudQueuesEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns5:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/queues/bandwidth version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudBackup">
      <method id="addCloudBackupEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns6:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns7:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns8:product[@version = ('1','2')],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns9:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/cloudbackup/bandwidthIn version(s) ('1'), http://docs.rackspace.com/usage/cloudbackup/bandwidthOut version(s) ('1'), http://docs.rackspace.com/usage/cloudbackup/license version(s) ('1','2'), http://docs.rackspace.com/usage/cloudbackup/storage version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudDNS">
      <method id="addCloudDNSEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="create"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='CREATE']) then (/atom:entry/atom:content/event:event[@type='CREATE']/w_ns10:product[@version = '1']) else true()"
                      rax:message="Only create messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/clouddns version(s) ('1')"/>
               <param name="delete"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DELETE']) then (/atom:entry/atom:content/event:event[@type='DELETE']/w_ns10:product[@version = '1']) else true()"
                      rax:message="Only delete messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/clouddns version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','USAGE_SNAPSHOT','UPDATE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudFiles">
      <method id="addCloudFilesEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns11:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns12:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns13:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/cloudfiles/bandwidth version(s) ('1'), http://docs.rackspace.com/usage/cloudfiles/cdnbandwidth version(s) ('1'), http://docs.rackspace.com/usage/cloudfiles/storage version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudDatabase">
      <method id="addCloudDatabaseEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns14:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/dbaas version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="DomainRegistration">
      <method id="addDomainRegistrationEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage_snapshot"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']) then (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns15:product[@version = '1']) else true()"
                      rax:message="Only usage_snapshot messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/domain version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','CREATE','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="Glance">
      <method id="addGlanceEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns16:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/glance version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudIdentity">
      <method id="addCloudIdentityEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="create"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='CREATE']) then (/atom:entry/atom:content/event:event[@type='CREATE']/w_ns18:product[@version = ('1','2')]) else true()"
                      rax:message="Only create messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/identity/user version(s) ('1','2')"/>
               <param name="update"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UPDATE']) then (/atom:entry/atom:content/event:event[@type='UPDATE']/w_ns18:product[@version = ('1','2')]) else true()"
                      rax:message="Only update messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/identity/user version(s) ('1','2')"/>
               <param name="delete"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DELETE']) then (/atom:entry/atom:content/event:event[@type='DELETE']/w_ns17:product[@version = '1'],/atom:entry/atom:content/event:event[@type='DELETE']/w_ns18:product[@version = ('1','2')]) else true()"
                      rax:message="Only delete messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/identity/token version(s) ('1'), http://docs.rackspace.com/event/identity/user version(s) ('1','2')"/>
               <param name="suspend"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='SUSPEND']) then (/atom:entry/atom:content/event:event[@type='SUSPEND']/w_ns18:product[@version = ('1','2')]) else true()"
                      rax:message="Only suspend messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/identity/user version(s) ('1','2')"/>
               <param name="unsuspend"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UNSUSPEND']) then (/atom:entry/atom:content/event:event[@type='UNSUSPEND']/w_ns18:product[@version = ('1','2')]) else true()"
                      rax:message="Only unsuspend messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/identity/user version(s) ('1','2')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('USAGE','USAGE_SNAPSHOT','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess>
                  <xsl:stylesheet version="1.0"
                                  exclude-result-prefixes="event rax util xs w_ns1 w_ns2 w_ns3 w_ns4 w_ns5 w_ns6 w_ns7 w_ns8 w_ns9 w_ns10 w_ns11 w_ns12 w_ns13 w_ns14 w_ns15 w_ns16 w_ns17 w_ns18 w_ns19 w_ns20 w_ns21 w_ns22 w_ns23 w_ns24 w_ns25 w_ns26 w_ns27 w_ns28 w_ns29 w_ns30 w_ns31 w_ns32 w_ns33 w_ns34 w_ns35 w_ns36 w_ns37 w_ns38 w_ns39 w_ns40 w_ns41">
                     <xsl:import href="util.xsl"/>
                     <xsl:output method="xml" encoding="UTF-8"/>
                     <xsl:template match="text()" mode="category"/>
                     <xsl:template match="node() | @*" mode="category">
                        <xsl:apply-templates select="@* | node()" mode="category"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/identity/user"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='2']">
                        <atom:entry>
                           <xsl:apply-templates select="@*"/>
                           <atom:id>
                              <xsl:value-of select="atom:id"/>
                           </atom:id>
                           <xsl:apply-templates mode="category" select="@* | node()"/>
                           <xsl:apply-templates select="node()"/>
                        </atom:entry>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/identity/user"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='2']/atom:id"/>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/identity/user"
                                   match="pf:product[@version='2']"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@updatedAttributes"/>
                           <xsl:with-param name="prefix" select="'updatedAttributes:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                  </xsl:stylesheet>
               </rax:preprocess>
               <param name="checkUpdate"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type = 'UPDATE' and /atom:entry/atom:content/event:event/identityUser:product/@version = '2') then /atom:entry/atom:content/event:event/identityUser:product/@updatedAttributes else true()"
                      rax:message="For version 2 and type is UPDATE, the updatedAttributes attribute is required."/>
               <param name="checkNonUpdate"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type != 'UPDATE' and /atom:entry/atom:content/event:event/identityUser:product/@version = '2') then not(/atom:entry/atom:content/event:event/identityUser:product/@updatedAttributes) else true()"
                      rax:message="For version 2 and type is other than UPDATE, the updatedAttributes attribute should not be used."/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudLoadBalancers">
      <method id="addCloudLoadBalancersEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns20:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/lbaas version(s) ('1')"/>
               <param name="delete"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DELETE']) then (/atom:entry/atom:content/event:event[@type='DELETE']/w_ns19:product[@version = '1']) else true()"
                      rax:message="Only delete messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/lbaas/delete version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess href="lbaas.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudMonitoring">
      <method id="addCloudMonitoringEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns21:product[@version = ('1','2')]) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/maas version(s) ('1','2')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudServersOpenStack">
      <method id="addCloudServersOpenStackEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns22:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns24:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/nova/ip version(s) ('1'), http://docs.rackspace.com/event/nova version(s) ('1')"/>
               <param name="up"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UP']) then (/atom:entry/atom:content/event:event[@type='UP']/w_ns23:product[@version = '1']) else true()"
                      rax:message="Only up messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/nova/host version(s) ('1')"/>
               <param name="down"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DOWN']) then (/atom:entry/atom:content/event:event[@type='DOWN']/w_ns23:product[@version = '1']) else true()"
                      rax:message="Only down messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/nova/host version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','INFO'))"/>
               <param name="checkUp"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type = 'UP') then not(/atom:entry/atom:content/event:event/novaHost:product/@checkStatus = 'CRITICAL') else true()"
                      rax:message="If message is UP type then checkStatus cannot be CRITICAL."/>
               <param name="checkDown"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event/@type = 'DOWN') then not(/atom:entry/atom:content/event:event/novaHost:product/@checkStatus = 'OK') else true()"
                      rax:message="If message is DOWN type then checkStatus cannot be OK."/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="RHEL">
      <method id="addRHELEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns25:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/RHEL version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudServers">
      <method id="addCloudServersEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns26:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns29:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns31:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/servers/bandwidth version(s) ('1'), http://docs.rackspace.com/usage/servers/ip version(s) ('1'), http://docs.rackspace.com/event/servers version(s) ('1')"/>
               <param name="up"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UP']) then (/atom:entry/atom:content/event:event[@type='UP']/w_ns27:product[@version = '1']) else true()"
                      rax:message="Only up messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/servers/heartbeat version(s) ('1')"/>
               <param name="down"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='DOWN']) then (/atom:entry/atom:content/event:event[@type='DOWN']/w_ns32:product[@version = '1']) else true()"
                      rax:message="Only down messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/servers/hostserver version(s) ('1')"/>
               <param name="info"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='INFO']) then (/atom:entry/atom:content/event:event[@type='INFO']/w_ns28:product[@version = '1'],/atom:entry/atom:content/event:event[@type='INFO']/w_ns30:product[@version = '1']) else true()"
                      rax:message="Only info messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/event/servers/image version(s) ('1'), http://docs.rackspace.com/event/servers/slice version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess>
                  <xsl:stylesheet version="1.0"
                                  exclude-result-prefixes="event rax util xs w_ns1 w_ns2 w_ns3 w_ns4 w_ns5 w_ns6 w_ns7 w_ns8 w_ns9 w_ns10 w_ns11 w_ns12 w_ns13 w_ns14 w_ns15 w_ns16 w_ns17 w_ns18 w_ns19 w_ns20 w_ns21 w_ns22 w_ns23 w_ns24 w_ns25 w_ns26 w_ns27 w_ns28 w_ns29 w_ns30 w_ns31 w_ns32 w_ns33 w_ns34 w_ns35 w_ns36 w_ns37 w_ns38 w_ns39 w_ns40 w_ns41">
                     <xsl:import href="util.xsl"/>
                     <xsl:output method="xml" encoding="UTF-8"/>
                     <xsl:template match="text()" mode="category"/>
                     <xsl:template match="node() | @*" mode="category">
                        <xsl:apply-templates select="@* | node()" mode="category"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='1']">
                        <atom:entry>
                           <xsl:apply-templates select="@*"/>
                           <atom:id>
                              <xsl:value-of select="atom:id"/>
                           </atom:id>
                           <xsl:apply-templates mode="category" select="@* | node()"/>
                           <xsl:apply-templates select="node()"/>
                        </atom:entry>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='1']/atom:id"/>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/event/servers/slice"
                                   match="pf:product[@version='1']"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@action"/>
                           <xsl:with-param name="prefix" select="'action:'"/>
                        </xsl:call-template>
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@status"/>
                           <xsl:with-param name="prefix" select="'status:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                  </xsl:stylesheet>
               </rax:preprocess>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="CloudSites">
      <method id="addCloudSitesEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns35:product[@version = '1']) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/sites/metered version(s) ('1')"/>
               <param name="usage_snapshot"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']) then (/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns33:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns34:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns36:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns37:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE_SNAPSHOT']/w_ns38:product[@version = '1']) else true()"
                      rax:message="Only usage_snapshot messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/sites/db version(s) ('1'), http://docs.rackspace.com/usage/sites/email version(s) ('1'), http://docs.rackspace.com/usage/sites/netapp version(s) ('1'), http://docs.rackspace.com/usage/sites/ssl version(s) ('1'), http://docs.rackspace.com/usage/sites/subscription version(s) ('1')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','UPDATE','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
   <resource_type id="Widget">
      <method id="addWidgetEntry" name="POST">
         <request>
            <representation mediaType="application/atom+xml" element="atom:entry">
               <param name="usage"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='USAGE']) then (/atom:entry/atom:content/event:event[@type='USAGE']/w_ns39:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns40:product[@version = '1'],/atom:entry/atom:content/event:event[@type='USAGE']/w_ns41:product[@version = ('1','2')]) else true()"
                      rax:message="Only usage messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/widget/explicit version(s) ('1'), http://docs.rackspace.com/usage/widget/multiple version(s) ('1'), http://docs.rackspace.com/usage/widget version(s) ('1','2')"/>
               <param name="update"
                      style="plain"
                      required="true"
                      path="if (/atom:entry/atom:content/event:event[@type='UPDATE']) then (/atom:entry/atom:content/event:event[@type='UPDATE']/w_ns41:product[@version = '3']) else true()"
                      rax:message="Only update messages with product attributes in the following namespaces are allowed on this feed: http://docs.rackspace.com/usage/widget version(s) ('3')"/>
               <param name="cross_check"
                      style="plain"
                      required="true"
                      rax:message="Events of this type not allowed in the feed."
                      path="not(/atom:entry/atom:content/event:event/@type = ('CREATE','USAGE_SNAPSHOT','DELETE','SUSPEND','UNSUSPEND','EXTENDED','UP','DOWN','INFO'))"/>
               <rax:preprocess href="atom_hopper_pre.xsl"/>
               <rax:preprocess>
                  <xsl:stylesheet version="1.0"
                                  exclude-result-prefixes="event rax util xs w_ns1 w_ns2 w_ns3 w_ns4 w_ns5 w_ns6 w_ns7 w_ns8 w_ns9 w_ns10 w_ns11 w_ns12 w_ns13 w_ns14 w_ns15 w_ns16 w_ns17 w_ns18 w_ns19 w_ns20 w_ns21 w_ns22 w_ns23 w_ns24 w_ns25 w_ns26 w_ns27 w_ns28 w_ns29 w_ns30 w_ns31 w_ns32 w_ns33 w_ns34 w_ns35 w_ns36 w_ns37 w_ns38 w_ns39 w_ns40 w_ns41">
                     <xsl:import href="util.xsl"/>
                     <xsl:output method="xml" encoding="UTF-8"/>
                     <xsl:template match="text()" mode="category"/>
                     <xsl:template match="node() | @*" mode="category">
                        <xsl:apply-templates select="@* | node()" mode="category"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='2']">
                        <atom:entry>
                           <xsl:apply-templates select="@*"/>
                           <atom:id>
                              <xsl:value-of select="atom:id"/>
                           </atom:id>
                           <xsl:apply-templates mode="category" select="@* | node()"/>
                           <xsl:apply-templates select="node()"/>
                        </atom:entry>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='2']/atom:id"/>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="pf:product[@version='2']"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@str"/>
                           <xsl:with-param name="prefix" select="'str:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='3']">
                        <atom:entry>
                           <xsl:apply-templates select="@*"/>
                           <atom:id>
                              <xsl:value-of select="atom:id"/>
                           </atom:id>
                           <xsl:apply-templates mode="category" select="@* | node()"/>
                           <xsl:apply-templates select="node()"/>
                        </atom:entry>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="atom:entry[atom:content/event:event/pf:product/@version='3']/atom:id"/>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="pf:product[@version='3']"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@label"/>
                           <xsl:with-param name="prefix" select="'label:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                     <xsl:template xmlns:pf="http://docs.rackspace.com/usage/widget"
                                   match="pf:metaData[../@version='3']"
                                   mode="category">
                        <xsl:call-template name="addCategory">
                           <xsl:with-param name="term" select="@key"/>
                           <xsl:with-param name="prefix" select="'metaData.key:'"/>
                        </xsl:call-template>
                        <xsl:apply-templates mode="category" select="@* | node()"/>
                     </xsl:template>
                  </xsl:stylesheet>
               </rax:preprocess>
            </representation>
         </request>
         <response status="201">
            <representation mediaType="application/atom+xml"/>
         </response>
         <response status="400 401 409 500 503">
            <representation mediaType="application/xml"/>
         </response>
      </method>
   </resource_type>
</application>
